<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--수강 신청-->
<head th:insert="layout/header :: head"></head>
<body>
<header th:insert="layout/header :: header"></header>
<main>
    <div class="container mt-3">
        <!-- 검색 폼 -->
        <form method="get" class="row">
            <div class="form-group col-md-3">
                <select id="searchType" name="searchType" class="form-control">
                    <option value="all" selected>전체</option>
                    <option value="professor">교수</option>
                    <option value="subject">과목</option>
                    <option value="grade">학년</option>
                </select>
            </div>
            <div class="form-group col-md-7">
                <input type="text" id="searchKeyword" name="keyword" class="form-control" placeholder="검색어를 입력하세요" th:value="${param.keyword}">
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>


        <table class="table table-bordered">
            <tr>
                <td th:text="'강의명'"></td>
                <td th:text="'교수명'"></td>
                <td th:text="'수강 학점'"></td>
                <td th:text="'강의 시작시간'"></td>
                <td th:text="'강의 끝시간'"></td>
                <td th:text="'강의 타입'"></td>
                <td th:text="'최대 / 현재 수강자'"></td>
                <td th:text="'강의 학기'"></td>
                <td th:text="'학년'"></td>
                <td th:text="'신청하기'"></td>
            </tr>
            <tr th:each="item:${list}">
                <form method="post" th:unless="${#lists.contains(lectureList, item)}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.professor.user.getUser_name()}"></td>
                    <td th:text="${item.credit}"></td>
                    <td th:utext="${item.day+ '<br/>' + item.start}"></td>
                    <td th:utext="${item.day+ '<br/>' + item.end}"></td>
                    <td th:text="${item.type}"></td>
                    <td th:text="${item.maxCount+ '명 / ' + item.currentCount + '명'}"></td>
                    <td th:text="${item.semester}"></td>
                    <td th:text="${item.grade}"></td>
                    <input th:type="hidden" th:value="${stuIdx}" th:name="stuIdx" required />
                    <input th:type="hidden" th:value="${item.idx}" th:name="idx" required/>
                    <td><button type="submit" class="btn btn-primary" th:if="${item.currentCount >= item.maxCount}" disabled>수강신청</button>
                    <button type="submit" class="btn btn-primary" th:if="${item.currentCount < item.maxCount}">수강신청</button></td>
                </form>

                <form method="get" th:if="${#lists.contains(lectureList, item)}" action="/student/cancel">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.professor.user.getUser_name()}"></td>
                    <td th:text="${item.credit}"></td>
                    <td th:utext="${item.day+ '<br/>' + item.start}"></td>
                    <td th:utext="${item.day+ '<br/>' + item.end}"></td>
                    <td th:text="${item.type}"></td>
                    <td th:text="${item.maxCount+ '명 / ' + item.currentCount + '명'}"></td>
                    <td th:text="${item.semester}"></td>
                    <td th:text="${item.grade}"></td>
                    <input th:type="hidden" th:value="${stuIdx}" th:name="stuIdx" required />
                    <input th:type="hidden" th:value="${item.idx}" th:name="idx" required/>
                    <td><button type="submit" class="btn btn-warning">수강취소</button></td>
                </form>
            </tr>
        </table>
    </div>
</main>
<script th:inline="javascript">
    /*<![CDATA[*/

    const msg = [[${msg}]];

    if(msg != '' && msg != null){
        alert(msg);
    }

    /*]]>*/
</script>


<footer th:insert="layout/header :: footer"></footer>
</body>
</html>