<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--수강 평가 리스트-->
<head th:insert="layout/studentHeader :: head"></head>
<body>
<header th:insert="layout/studentHeader :: header"></header>
<div class="container mt-5">
    <h2>강의 평가 리스트</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="lecture">강의이름</th>
            <th class="professor">교수</th>
            <th class="time">강의 평가 기간</th>
            <th>강의평가하기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${list}">
            <td th:text="${item.lecture_name}" class="lecture"></td>
            <td th:text="${item.professor_name}" class="professor"></td>
            <td th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}" class="time"></td>
            <td><a th:href="@{/student/evaluate/{idx}(idx=${item.idx})}">
                <button class="btn btn-primary">강의 평가 하러 가기</button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="layout/studentHeader :: footer"></footer>
<script>
    function isNumeric(str) {
        return !isNaN(str)  // NaN(Not A Number), isNaN은 숫자가 아닐 때 true를 반환한다
    }

    const tbody = document.querySelector('tbody')
    // th를 클릭하면 각 클래스의 이름을 기준으로 정렬하기
    const thList = document.querySelectorAll('th')

    function sortHandler(event) {
        // 클릭당한 th의 className을 불러온다
        const className = event.target.className

        // 클릭당한 th의 order 속성값을 정수로 불러온다
        const order = +event.target.getAttribute('order')
        // alert(order)

        // 클릭당한 th 내부의 span을 불러온다(모든 span에 대해서 글자를 지우고 수행한다)
        document.querySelectorAll('thead span.order').forEach(span => span.innerText = '')
        const span = event.target.querySelector('span.order')
        span.innerText = order > 0 ? ' ▲' : ' ▼'

        const trArray = Array.from(document.querySelectorAll('tbody > tr'))

        trArray.sort((a, b) => {
            let valueA = a.querySelector('.' + className).innerText
            let valueB = b.querySelector('.' + className).innerText
            if (isNumeric(valueA) && isNumeric(valueB)) {
                valueA = +valueA
                valueB = +valueB
            }
            let result = valueA > valueB ? 1 : -1
            event.target.setAttribute('order', order * -1)
            return result * order
        })
        trArray.forEach(tr => tbody.appendChild(tr))
    }

    thList.forEach(th => th.onclick = sortHandler)
</script>
</body>
</html>