<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--수강 평가 리스트-->
<head th:insert="layout/header :: head"></head>
<body>
<header th:insert="layout/header :: header"></header>
<div class="container mt-3">
    <h2>강의 평가 리스트</h2>
    <table class="table table-bordered">
        <tr>
            <th>강의이름</th>
            <th>교수</th>
            <th>강의 평가 기간</th>
            <th>강의평가하기</th>
        </tr>
        <tr th:each="item:${list}">
            <td th:text="${item.lecture_name}"></td>
            <td th:text="${item.professor_name}"></td>
            <td th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><a th:href="@{/student/evaluate/{idx}(idx=${item.idx})}"><button class="btn btn-primary">강의 평가 하러 가기</button></a></td>
        </tr>
    </table>
</div>
<footer th:insert="layout/header :: footer"></footer>
</body>
</html>