<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/studentHeader :: head">
    <style>
        /* Make the image fully responsive */
        .carousel-inner {
            text-align: center;
        }
        .carousel-inner img {
            text-align: center;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<!--header/footer 붙이는 방법-->
<header th:insert="layout/studentHeader :: header"></header>
<main>
    <div class="bg-light w-100">
        <div id="demo" class="carousel slide carousel-fade bg-light text-center" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/main1.jpg" alt="Los Angeles" class="mx-auto d-block img-fluid carousel-img"
                         width="1920" height="760">
                    <div class="carousel-caption text-white">
                        <h3>우리 대학 소개</h3>
                        <p>우리 대학은 모두를 위한 교육을 추구하며, 학문의 자유와 창의성을 존중합니다.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/main2.jpg" alt="Chicago" class="mx-auto d-block img-fluid carousel-img" width="1920"
                         height="760">
                    <div class="carousel-caption text-white">
                        <h3>캠퍼스 생활</h3>
                        <p>다양한 학문 분야와 풍부한 캠퍼스 생활을 경험하실 수 있습니다.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/main3.jpg" alt="New York" class="mx-auto d-block img-fluid carousel-img" width="1920"
                         height="760">
                    <div class="carousel-caption text-white">
                        <h3>글로벌 연구</h3>
                        <p>우리 대학은 국제적인 연구 환경을 제공하여 학생들의 글로벌 역량을 키워줍니다.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="d-flex flex-wrap align-items-start w-100">
        <div class="container my-3">
            <div class="main-img text-center">
                <!-- 메인 페이지 div-->
                <div class="d-flex justify-content-center align-items-start">
                    <div class="main-page">
                        <div class="d-flex justify-content-between">
                            <!-- 공지 사항 -->
                            <div class="main-notice">
                                <h3>
                                    <a th:href="@{/noticeList}">공지사항</a>
                                </h3>

                                <table class="mt-3 notice-table-content">
                                    <tr>
                                        <th style="width: 10%">번호</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                    </tr>
                                    <tr th:each="notice : ${notice}">
                                        <td th:text="${notice.idx}"></td>
                                        <!--                                        <td th:text="${notice.title}"></td>-->
                                        <td>
                                            <a th:href="@{/noticeView/{id}(id=${notice.idx})}"
                                               th:text="${notice.title}">Notice title</a>
                                        </td>
                                        <td th:text="${notice.wdate}"></td>
                                    </tr>
                                </table>

                            </div>

                            <div class="main-calendar">
                                <h3>
                                    <a th:href="@{/calendar}">학사일정</a>
                                </h3>
                                <table class="mt-3 notice-table-content">
                                    <tr>
                                        <th>번호</th>
                                        <th>내용</th>
                                        <th>기간</th>
                                    </tr>
                                    <!-- DB에서 내용 꺼내와서 채워넣기 -->
                                    <tr th:each="calendar : ${calendar}">
                                        <td th:text="${calendar.idx}"></td>
                                        <td th:text="${calendar.title}"></td>
                                        <td th:text="${calendar.start_date} + ' ~ ' + ${calendar.end_date}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="layout/studentHeader :: footer"></footer>
</body>
</html>