<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--강의 리스트-->
<head th:insert="layout/studentHeader :: head">
    <style>
        .flex {
            display: flex;
        }

        select {
            width: 300px;
            margin-right: 10px;
            padding: 5px;
            border: 1px solid #999;
            font-family: 'Nanumgothic';
            border-radius: 3px;
        }

        select::-ms-expand {
            display: none;
        }

        .selectBox {
            margin: 30px 0;
        }
    </style>
</head>
<body>
<header th:insert="layout/studentHeader :: header"> </header>

<main class="min-height">
    <div class="container mt-5">
        <h2>강의정보</h2>
        <hr>
        <div class="selectBox flex">
            <form action="" method="POST">
                <select name="as3d" id="asad">
                    <option value="0"> 단과대학</option>
                    <option value="인문">인문</option>
                    <option value="사회">사회</option>
                </select>
                <select name="as2d" id="asdd">
                    <option value="0"> 학년</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <select name="as1d" id="asfd">
                    <option value="0"> 학기</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <input type="submit" value="검색">
            </form>
        </div>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th>강의명</th>
                <th>강사</th>
                <th>학년</th>
                <th>학기</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr th:each="row : ${dataList}">
                <td th:text="${row.field1}">유아교육개론</td>
                <td th:text="${row.field2}">박소은</td>
                <td th:text="${row.field2}">1학기</td>
             </tr> -->
            <tr>
                <td>보건과건강</td>
                <td>Doe</td>
                <td>1학년</td>
                <td>2학기</td>
            </tr>
            <tr>
                <td>유아체육</td>
                <td>Doe</td>
                <td>2학년</td>
                <td>2학기</td>
            </tr>
            <tr>
                <td>아동생태미술</td>
                <td>Doe</td>
                <td>1학년</td>
                <td>2학기</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:insert="layout/studentHeader :: footer"></footer> <!-- footer 부분 수정 -->
</body>
</html>