<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--등록금 납부 리스트-->
<head th:insert="layout/studentHeader :: head">
    <style>
        .flex {
            display: flex;
        }

        select {
            width: 300px;
            margin-right: 10px;
            padding: 5px;
            border: 1px solid #999;
            font-family: 'Nanumgothic',serif;
            border-radius: 3px;
        }

        select::-ms-expand {
            display: none;
        }

        .selectBox {
            margin: 30px 0;
        }
    </style>
</head>
<body>
<header th:insert="layout/studentHeader :: header"></header>

<main>
    <div class="container mt-5">
        <h2>등록금 납부 내역</h2>
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>학기</th>
                <th>단과대학</th>
                <th>학과</th>
                <th>이름</th>
                <th>등록금</th>
                <th>장학금</th>
                <th>총납부금액</th>
                <th>날짜</th>
                <th>납부 여부</th>
            </tr>
            <tr th:each="item:${list}">
                <td th:text="${item.semester}"></td>
                <td th:text="${item.college_name}"></td>
                <td th:text="${item.major_name}"></td>
                <td th:text="${item.user_name}"></td>
                <td th:text="${item.tuition + '원'}"></td>
                <td th:text="${item.scholarship + '원'}"></td>
                <td th:text="${(item.tuition - item.scholarship) + '원'}"></td>
                <td th:text="${#dates.format(item.date, 'yyyy-MM-dd')}"></td>
                <td>
                    <a th:if="${item.flag.toString() == 'N'}" th:href="@{/student/paymentTuition/{idx}(idx=${item.idx})}"><button class="btn btn-primary">등록금 납부 하기</button></a>
                    <a th:if="${item.flag.toString() == 'Y'}" href=""><button class="btn btn-success">등록금 납부 완료</button></a>
                </td>
            </tr>
        </table>

    </div>

</main>

<footer th:insert="layout/studentHeader :: footer"></footer> <!-- footer 부분 수정 -->
</body>
</html>