<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/studentHeader :: head">
</head>
<style>
    h4 {
        text-align: center;
    }

    table {
        width: 640px;
        margin: auto;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .title {
        background-color: darkgray;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: center;
        border: 1px solid black;
    }

    .content {
        border: 1px solid black;
    }

    input {
        border: none;
    }

    .check {
        width: 75%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .check2 {
        width: 75%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .radio-margin {
        margin-right: 25px;
    }

    .radio-title {
        margin-bottom: 5px;
    }
</style>
<body>

<header th:insert="layout/studentHeader :: header"></header>
<div class="container mt-5 min-height">
    <h4>강의 평가 설문지</h4>

    <div class="w-75 m-auto mt-4" style="background-color: darkgray; border: black;">
    <pre>    
         본 설문지는 수업개선의 기초 및 교육의 질적인 향상을 위해서 실시합니다.
         그러므로 성실하게 작성하여 주시기 바랍니다.
         (A) 매우 그렇다. (B) 그렇다. (C) 그저 그렇다. (D) 그렇지 않다. (E) 매우 그렇지 않다.
         중 하나를 선택하여 주세요.
    </pre>
    </div>

    <table class="w-75 my-3">
        <tr>
            <th class="title">전공</th>
            <td class="content"><input class="form-control" th:value="${dto.getMajorName()}" readonly/></td>
            <th class="title">작성자</th>
            <td class="content"><input class="form-control" th:value="${dto.getStudentName()}" readonly/></td>
        </tr>

        <tr>
            <th class="title">학번</th>
            <td class="content"><input class="form-control" th:value="${dto.getStudentNum()}" readonly/></td>
            <th class="title">강의명</th>
            <td class="content"><input class="form-control" th:value="${dto.getLectureName()}" readonly/></td>
        </tr>
    </table>

    <form method="post">
        <div class="check">
            <div class="radio-title">
                강의 내용이 강의 계획서대로 진행되었다.
            </div>
            <input type="hidden" name="enrollment_idx" th:value="${dto.enrollment_idx}">
            <div style="display: flex;">
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio1_1" name="q1" value="5" required>A
                    <label class="form-check-label" for="radio1_1"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio1_2" name="q1" value="4" required>B
                    <label class="form-check-label" for="radio1_2"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio1_3" name="q1" value="3" required>C
                    <label class="form-check-label" for="radio1_3"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio1_4" name="q1" value="2" required>D
                    <label class="form-check-label" for="radio1_4"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1_5" name="q1" value="1" required>E
                    <label class="form-check-label" for="radio1_5"></label>
                </div>
            </div>
        </div>

        <div class="check">
            <div class="radio-title">
                나는 이 수업을 전체적으로 우수하다고 평가한다.
            </div>

            <div class="d-flex">
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio2_1" name="q2" value="5" required>A
                    <label class="form-check-label" for="radio2_1"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio2_2" name="q2" value="4" required>B
                    <label class="form-check-label" for="radio2_1"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio2_3" name="q2" value="3" required>C
                    <label class="form-check-label" for="radio2_3"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio2_4" name="q2" value="2" required>D
                    <label class="form-check-label" for="radio2_4"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2_5" name="q2" value="1" required>E
                    <label class="form-check-label" for="radio2_5"></label>
                </div>
            </div>
        </div>

        <div class="check">
            <div class="radio-title">
                나는 이 수업을 통하여 많은 지식을 얻었다.
            </div>

            <div style="display: flex;">
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio3_1" name="q3" value="5" required>A
                    <label class="form-check-label" for="radio3_1"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio3_2" name="q3" value="4" required>B
                    <label class="form-check-label" for="radio3_2"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio3_3" name="q3" value="3" required>C
                    <label class="form-check-label" for="radio3_3"></label>
                </div>
                <div class="form-check radio-margin">
                    <input type="radio" class="form-check-input" id="radio3_4" name="q3" value="2" required>D
                    <label class="form-check-label" for="radio3_4"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio3_5" name="q3" value="1" required>E
                    <label class="form-check-label" for="radio3_5"></label>
                </div>
            </div>
        </div>


        <div class="check">
            <div class="radio-title">
                개선 사항 및 교수님께 하고 싶은 말이 있다면 적어주시기 바랍니다.
            </div>
            <div>
                <textarea rows="5" cols="80" name="q4" required></textarea>
            </div>
        </div>

        <div class="check2">
            <div class="radio-title">
                학업평가는 강의내용이 적절히 반영되어 과목의 이해정도를 잘 평가하였는가?
            </div>
            <div>
                <textarea rows="5" cols="80" name="q5" required></textarea>
            </div>
        </div>

        <div class="me-5 d-flex w-75 mt-3 justify-content-around">
            <button type="submit" class="btn btn-facebook">제출하기</button>
            <button type="button" class="btn btn-danger" onclick="history.go(-1);">취소</button>
        </div>
    </form>
</div>
<footer th:insert="layout/studentHeader :: footer"></footer>
</body>
</html>
