<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 학사 일정 -->
<th:block th:switch="${session.user.user.role.toString()}">
    <th:block th:case="'교수'">
        <head th:insert="layout/professorHeader :: head"></head>
    </th:block>
    <th:block th:case="'학생'">
        <head th:insert="layout/studentHeader :: head"></head>
    </th:block>
    <th:block th:case="'교직원'">
        <head th:insert="layout/managerHeader :: head"></head>
    </th:block>
</th:block>
<body>
<th:block th:switch="${session.user.user.role.toString()}">
    <th:block th:case="'교수'">
        <header th:insert="layout/professorHeader :: header"></header>
    </th:block>
    <th:block th:case="'학생'">
        <header th:insert="layout/studentHeader :: header"></header>
    </th:block>
    <th:block th:case="'교직원'">
        <header th:insert="layout/managerHeader :: header"></header>
    </th:block>
</th:block>

<main class="ly-main">
    <div class="container mt-5">
        <div class="ly-container">
            <div class="mb-2">
                <div class="this-year">
                    <p>2024년도</p>
                </div>
            </div>

            <!-- 달력 랩 -->
            <table class="mb-3 calendarTable w-100">
                <!-- 각 월에 대한 루프-->
                <tr class="calendarRow"
                    th:each="calendarEntry : ${calendarByMonth}">
                    <td class="w-25 month"> <!-- 'month' 클래스 추가 -->
                        <div th:text="${calendarEntry.key} + '월'" class="content1"></div>
                    </td>

                    <td th:each="cal : ${calendarEntry.value}" class="flex-column">
                        <div class="content-frame w-100 d-flex">
                            <!-- 일자 -->
                            <div class="contents content1 w-25"
                                 th:text="${calendarEntry.key} +'/'+${#temporals.format(cal.start_date, 'dd')} +' ~ '+${#temporals.format(cal.end_date, 'MM')} +'/'+ ${#temporals.format(cal.end_date, 'dd')}"></div>
                            <!-- 내용 -->
                            <div class="contents content2 w-25" th:text="${cal.title}"></div>

                            <div class="d-flex buttons w-25"
                                 th:if="${session.user != null && session.user.user.role.toString() == '교직원'}">
                                <a th:href="@{/manager/calendarEditForm/{idx}(idx=${cal.idx})}">
                                    <button id="editBtn" class="btn btn-warning">수정</button>
                                </a>
                                <a th:href="@{/manager/calendarDelete/{idx}(idx=${cal.idx})}">
                                    <button id="deleteBtn" class="btn btn-danger">삭제</button>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <a th:href="@{/manager/calendarAddForm}">
            <button class="btn btn-primary" style="text-align: center"
                    th:if="${session.user != null && session.user.user.role.toString() == '교직원'}">추가
            </button>
        </a>
        <div class="tip-box">
            <p class="tip">※ 학사일정은 학사운영의 사정에 따라 변경될 수 있습니다.</p>
            <p class="tip">※ 공휴일 등으로 인한 수업결손은 학기 중 또는 보강기간에 반드시 보강하여야 하며, 법령상의 수업일수를 확보하기 위하여 종강일자를 반드시 지켜주시기
                바랍니다.</p>
        </div>
    </div>
</main>


<script>
    const editBtn = document.getElementById('editBtn')
    const deleteBtn = document.getElementById('deleteBtn')

    editBtn.onclick = function () {
        // 컴펌버튼 출력
        var useConfirm = confirm('해당 학사일정을 수정 하시겠습니까 ?');

        if (useConfirm) {
            // 사용자가 확인을 선택한 경우에만 a 태그의 링크를 작동
            const editLink = document.querySelector("a[id='editBtn']");

            if (editLink) {
                // a 태그의 href로 이동
                window.location.href = editLink.getAttribute('href');
            }
        }
    }

    deleteBtn.onclick = function () {
        var deleteConfirm = confirm('해당 학사 일정을 삭제 하시겠습니까 ?');

        if (deleteConfirm) {
            const deleteLink = document.querySelector("a[id='deleteBtn']");

            if (deleteLink) {
                window.location.href = deleteLink.getAttribute('href')
            }
        }
    }
</script>
<th:block th:switch="${session.user.user.role.toString()}">
    <th:block th:case="'교수'">
        <footer th:insert="layout/professorHeader :: footer"></footer>
    </th:block>
    <th:block th:case="'학생'">
        <footer th:insert="layout/studentHeader :: footer"></footer>
    </th:block>
    <th:block th:case="'교직원'">
        <footer th:insert="layout/managerHeader :: footer"></footer>
    </th:block>
</th:block>
</body>
</html>
