<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:switch="${session.user.user.role.toString()}">
    <th:block th:case="'교수'">
        <head th:insert="layout/professorHeader :: head"></head>
    </th:block>
    <th:block th:case="'학생'">
        <head th:insert="layout/studentHeader :: head"></head>
    </th:block>
    <th:block th:case="'교직원'">
        <head th:insert="layout/managerHeader :: head"></head>
    </th:block>
</th:block>
<body>
<th:block th:switch="${session.user.user.role.toString()}">
    <th:block th:case="'교수'">
        <header th:insert="layout/professorHeader :: header"></header>
    </th:block>
    <th:block th:case="'학생'">
        <header th:insert="layout/studentHeader :: header"></header>
    </th:block>
    <th:block th:case="'교직원'">
        <header th:insert="layout/managerHeader :: header"></header>
    </th:block>
</th:block>
<div class="container mt-5 min-height">
    <h2>공지 사항</h2>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>등록일</th>
            <th>조회수</th>
            <th colspan="2" th:if="${session.user.user.role.toString() == '교직원'}"></th>
        </tr>

        <tr th:each="row : ${noticeList}">
            <td th:text="${row.idx}"></td>
            <td class="w-75"><a th:href="@{'/noticeView/' + ${row.idx}}" th:text="${row.title}"></a></td>
            <td class="w-75"><a th:href="@{'/noticeView/' + ${row.idx}}" th:text="${row.title}"></a></td>
            <td th:text="${row.wdate}"></td>
            <td th:text="${row.viewCount}"></td>
            <td th:if="${session.user.user.role.toString() == '교직원'}">
                <a th:href="@{'/manager/noticeUpdate/' + ${row.idx}}">
                    <button class="btn btn-warning">수정</button>
                </a>
            </td>
            <td th:if="${session.user.user.role.toString() == '교직원'}">
                <button class="btn btn-danger" th:onclick="'confirmDelete('+${row.idx}+')'">삭제</button>
            </td>
        </tr>
    </table>
    <a href="/manager/noticeAdd">
        <button class="btn btn-primary" th:if="${session.user.user.role.toString() == '교직원'}">등록</button>
    </a>

    <div class="m-auto mt-3" style="width: fit-content" th:if="${noticeList.totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:if="${noticeList.hasPrevious && ((noticeList.number / 5) - 1) * 5 >= 0}">

                <a th:href="@{/noticeList(page=${((noticeList.number / 5) - 1) * 5})}">
                    <button class="page-link" th:text="'<<'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${noticeList.hasPrevious}">

                <a th:href="@{/noticeList(page=${noticeList.number - 1})}">
                    <button class="page-link" th:text="'<'"></button>
                </a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, noticeList.totalPages - 1)}"
                th:if="${i / 5 == noticeList.number / 5}">

                <a th:href="@{/noticeList(page=${i})}">
                    <button class="page-link" disabled style="background-color: rgba(128, 128, 128, 0.5)"
                            th:if="${noticeList.number == i}" th:text="${i + 1}"></button>
                </a>

                <a th:href="@{/noticeList(page=${i})}">
                    <button class="page-link" th:unless="${noticeList.number == i}" th:text="${i + 1}"></button>
                </a>
            </li>

            <li class="page-item" th:if="${noticeList.hasNext}">
                <a th:href="@{/noticeList(page=${noticeList.number + 1})}">
                    <button class="page-link" th:text="'>'"></button>
                </a>
            </li>

            <li class="page-item"
                th:if="${noticeList.hasNext && noticeList.totalPages - 1 >= ((noticeList.number / 5) + 1) * 5}">

                <a th:href="@{/noticeList(page=${((noticeList.number / 5) + 1) * 5})}">
                    <button class="page-link" th:text="'>>'"></button>
                </a>
            </li>
        </ul>
    </div>

</div>
<th:block th:switch="${session.user.user.role.toString()}">
    <th:block th:case="'교수'">
        <footer th:insert="layout/professorHeader :: footer"></footer>
    </th:block>
    <th:block th:case="'학생'">
        <footer th:insert="layout/studentHeader :: footer"></footer>
    </th:block>
    <th:block th:case="'교직원'">
        <footer th:insert="layout/managerHeader :: footer"></footer>
    </th:block>
</th:block>

<script>

    function confirmDelete(noticeIdx) {
        const result2 = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });
        result2.fire({
            title: "공지 삭제확인",
            text: "정말 삭제하시겠습니까?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "네, 삭제 합니다.",
            cancelButtonText: "아니요, 취소합니다.",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // AJAX 요청 시작
                $.ajax({
                    url: '/manager/noticeDel/' + noticeIdx, // AJAX 요청 URL
                    type: 'GET', // HTTP 메소드
                    success: function (response) {
                        // 성공 시 처리
                        Swal.fire({
                            title: "삭제 확인",
                            text: "공지 삭제가 완료되었습니다.",
                            icon: "success"
                        }).then(() => {
                            window.location.href = "/noticeList";// 페이지 새로고침 또는 이동
                        });
                    },
                    error: function () {
                        // 오류 시 처리
                        Swal.fire({
                            title: "오류",
                            text: "삭제 중 오류가 발생했습니다.",
                            icon: "error"
                        });
                    }
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    title: "삭제 취소",
                    text: "공지 삭제가 취소되었습니다.",
                    icon: "error"
                });
            }
        });
    }
</script>

</body>
</html>