<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>

<body>
<header th:insert="layout/header :: header"> </header>
<div class="container mt-3">
    <h2>공지 사항</h2>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>등록일</th>
            <th>조회수</th>
        </tr>

        <tr th:each="row : ${noticeList}">
            <td th:text="${row.idx}"></td>
            <td><a th:href="@{'/manager/noticeView/' + ${row.idx}}" th:text="${row.title}"></a></td>
            <td th:text="${#strings.length(row.content) > 20 ? #strings.substring(row.content, 0, 20) + '...' : row.content}"></td>
            <td th:text="${row.wdate}"></td>
            <td th:text="${row.viewCount}"></td>
            <td th:if="${session.user.user.role.toString() == '교직원'}">
                <a th:href="@{'/manager/noticeUpdate/' + ${row.idx}}">
                    <button class="btn btn-warning">수정</button></a>
            </td>
            <td th:if="${session.user.user.role.toString() == '교직원'}">
                <a th:href="@{'/manager/noticeDel/' + ${row.idx}}">
                    <button class="btn btn-danger" onclick="confirmDelete(event)">삭제</button></a>
            </td>
        </tr>
    </table>
    <a href="/manager/noticeAdd"><button class="btn btn-primary" th:if="${session.user.user.role.toString() == '교직원'}">등록</button></a>

    <div class="m-auto mt-3" style="width: fit-content" th:if="${noticeList.totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:if="${noticeList.hasPrevious && ((noticeList.number / 5) - 1) * 5 >= 0}">
                <a th:href="@{/manager/noticeList(page=${((noticeList.number / 5) - 1) * 5})}">
                    <button class="page-link" th:text="'<<'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${noticeList.hasPrevious}">
                <a th:href="@{/manager/noticeList(page=${noticeList.number - 1})}">
                    <button class="page-link" th:text="'<'"></button>
                </a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, noticeList.totalPages - 1)}"
                th:if="${i / 5 == noticeList.number / 5}">
                <a th:href="@{/manager/noticeList(page=${i})}">
                    <button class="page-link" disabled style="background-color: rgba(128, 128, 128, 0.5)"
                            th:if="${noticeList.number == i}" th:text="${i + 1}"></button>
                </a>
                <a th:href="@{/manager/noticeList(page=${i})}">
                    <button class="page-link" th:unless="${noticeList.number == i}" th:text="${i + 1}"></button>
                </a>
            </li>

            <li class="page-item" th:if="${noticeList.hasNext}">
                <a th:href="@{/manager/noticeList(page=${noticeList.number + 1})}">
                    <button class="page-link" th:text="'>'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${noticeList.hasNext && noticeList.totalPages - 1 >= ((noticeList.number / 5) + 1) * 5}">
                <a th:href="@{/manager/noticeList(page=${((noticeList.number / 5) + 1) * 5})}">
                    <button class="page-link" th:text="'>>'"></button>
                </a>
            </li>
        </ul>
    </div>

</div>
<footer th:insert="layout/header :: footer"></footer>

<script>
    function confirmDelete(event) {
        var result = confirm("정말 삭제하시겠습니까?");
        if (result) {

        } else {
            event.preventDefault();
        }
    }
</script>

</body>
</html>