<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">

<body class="bg-gradient-success">
    <header th:insert = "layout/header :: header" ></header>

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">등록하기</h1>
                            </div>
                            <form class="userForm" method="post" enctype="multipart/form-data" >
                                <div class="form-group row">
                                    <div class="d-flex  justify-content-between col-sm-12 mb-3 mb-sm-0">
                                        <label><input type="radio" name="userType" value="student"
                                                onclick="changeForm('student')" checked> 학생 등록</label>
                                        <label><input type="radio" name="userType" value="professor"
                                                onclick="changeForm('professor')"> 교수 등록</label>
                                        <label><input type="radio" name="userType" value="manager"
                                                onclick="changeForm('manager')"> 교직원 등록</label>
                                    </div>
                                </div>
                                <div class="form-group row pb-0">
                                    <div class="col-lg-6">

                                        <div class=" form-group text-center">
                                            <img id="imageContainer" src="img/idPhoto.png"
                                                 style="max-height: 100px; max-height: 130px; object-fit: contain;">

                                        </div>
                                        <div class="form-group">
                                            <input type="file" class="form-control form-control-user" id="imageFile" accept="image/*">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control form-control-user" th:placeholder="학과를 선택하세요" id="major" required>
<!--                                                <option value="">학과를 선택하세요</option>-->
                                                <option th:each="major : ${majorList}" th:value="${major}" th:text="${major}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pb-0">

                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                                   placeholder="성">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="exampleLastName"
                                                   placeholder="이름">
                                        </div>
                                        <div class="form-group">

                                            <input type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" placeholder="Email" required>
                                        </div>
                                        <div class="form-group pb-0">

                                            <input type="date" class="form-control form-control-user"
                                                   id="hireDate" placeholder="" required>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputUserid"
                                        placeholder="주소입력">
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="frontsecurity"
                                            placeholder="주민등록번호 앞자리" pattern="\d{6}" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="backsecurity"
                                            placeholder="주민등록번호 뒷자리" pattern="\d{7}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="phonenumber"
                                        placeholder="전화번호" required>
                                </div>

                                <!-- ID field will change based on user type -->

                                <button class="btn btn-primary btn-user btn-block" id="btn-register">
                                    등록하기
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <footer th:insert="layout/header :: footer"></footer>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script>

        var imageFile = document.getElementById('imageFile');
        imageFile.addEventListener('change',previewImage)
        function previewImage(event) {
            var input = event.target;
            var imageContainer = document.getElementById('imageContainer');
            // var imageElement = imageContainer.querySelector('img');
            if(input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function () {
                    imageContainer.src = reader.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }




        $("#frontsecurity, #backsecurity").on("input", function () {    // 주민번호입력확인
            var inputVal = $(this).val();
            // 숫자가 아닌 문자가 포함되어 있는지 확인
            if (/[^\d]/.test(inputVal)) {
                alert("숫자만 입력 가능합니다.");
                // 숫자가 아닌 문자를 모두 제거
                $(this).val(inputVal.replace(/[^0-9]/g, ""));
            }

            // 앞자리는 6자리, 뒷자리는 7자리로 제한
            if (this.id == 'frontsecurity' && $(this).val().length > 6) {
                $(this).val($(this).val().slice(0, 6));
            }
            if (this.id == 'backsecurity' && $(this).val().length > 7) {
                $(this).val($(this).val().slice(0, 7));
            }
        });

        $("#phonenumber").on("input", function () { // 휴대폰번호 검증
            // 숫자만 입력되도록 필터링
            $(this).val($(this).val().replace(/[^0-9]/g, ""));
            // 010이 이미 입력되어있는 상태에서 추가적으로 숫자를 입력받아 '-'를 붙이는 과정
            var inputVal = $(this).val();
            var formatted = inputVal;
            if (inputVal.length > 3) {
                var front = inputVal.substr(0, 3);
                var middle = inputVal.substr(3, 4);
                var back = inputVal.substr(7, 4);
                formatted = front;
                if (middle != "") {
                    formatted += "-" + middle;
                }
                if (back != "") {
                    formatted += "-" + back;
                }
            }
            $(this).val(formatted);
        });
        function changeForm(userType) {
            // const idField = document.getElementById('idField');
            const form = document.querySelector(".userForm");
            const majorSelect = document.getElementById("major");

            if (userType === 'student') {
                form.action = "/manager/addstudent";
            } else if (userType === 'professor') {
                form.action = "/manager/addprofessor";
            } else if (userType === 'manager') {
                form.action = "/manager/addmanager";
            }


            // if (userType === 'manager') {
            //     // "행정실" 옵션을 생성하여 추가
            //     const option = document.createElement('option');
            //     option.value = "0";
            //     option.text = "행정실";
            //     majorSelect.appendChild(option);
            // }


            // 주민등록번호 뒷자리 input 요소에 autocomplete 속성 추가
            const backsecurityInput = document.getElementById('backsecurity');
            backsecurityInput.setAttribute('autocomplete', 'current-password');

        }


    </script>

</body>

</html>