<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">

<body class="bg-gradient-success">
    <header th:insert = "layout/header :: header" ></header>
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">등록하기</h1>
                            </div>
                            <form class="user" method="post">
                                <div class="form-group row">
                                    <div class="d-flex  justify-content-between col-sm-12 mb-3 mb-sm-0">
                                        <label><input type="radio" name="userType" value="student"
                                                onclick="changeForm('student')" checked> 학생 등록</label>
                                        <label><input type="radio" name="userType" value="professor"
                                                onclick="changeForm('professor')"> 교수 등록</label>
                                        <label><input type="radio" name="userType" value="manager"
                                                onclick="changeForm('manager')"> 교직원 등록</label>
                                    </div>
                                </div>
<!--                                <div class="form-group" id="idField">-->
<!--                                    <input type="text" class="form-control form-control-user" id="studentId"-->
<!--                                        placeholder="학번" name="studentId" required>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="성">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="이름">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputUserid"
                                        placeholder="주소입력">
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                                        <input type="password" class="form-control form-control-user"-->
<!--                                            id="exampleInputPassword" placeholder="패스워드" value="1234" required>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="password" class="form-control form-control-user"-->
<!--                                            id="exampleRepeatPassword" placeholder="패스워드 확인" required>-->
<!--                                    </div>-->
<!--                                    <span id="passwordHelp" class="col-sm-12  form-text mx-3"></span>-->
<!--                                    <span id="passwordConfirmHelp" class="col-sm-12 form-text mx-3"></span>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <div class="col-sm-8 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" placeholder="Email" required>
                                    </div>
<!--                                    <div class="col-sm-4">-->
<!--                                        <button type="button" class="btn btn-primary btn-user btn-block"-->
<!--                                            id="email_validation" disabled>인증하기</button>-->
<!--                                    </div>-->
                                </div>
<!--                                <div class="form-group row" id="verificationField" style="display: none;">-->
<!--                                    <div class="col-sm-8 mb-3 mb-sm-0">-->
<!--                                        <input type="text" class="form-control form-control-user" id="verificationCode"-->
<!--                                            placeholder="인증번호" required>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <button type="button" class="btn btn-primary btn-user btn-block">인증확인</button>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="frontsecurity"
                                            placeholder="주민등록번호 앞자리" pattern="\d{6}" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="backsecurity"
                                            placeholder="주민등록번호 뒷자리" pattern="\d{7}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="phonenumber"
                                        placeholder="전화번호" required>
                                </div>

                                <!-- ID field will change based on user type -->

                                <button class="btn btn-primary btn-user btn-block" id="btn-register">
                                    등록하기
                                </button>
                            </form>
<!--                            <hr>-->
<!--                            <div class="text-center">-->
<!--                                <a class="small" href="forgot-password.html">비밀번호를 잊으셨나요?</a>-->
<!--                            </div>-->
<!--                            <div class="text-center">-->
<!--                                <a class="small" href="login.html">이미 계정이 있으신가요? 로그인 하러가기</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script>
                window.onload = function () {
                const emailInput = document.getElementById('exampleInputEmail');
                const validationButton = document.getElementById('email_validation');
                const passwordInput = document.getElementById('exampleInputPassword');
                const repeatPasswordInput = document.getElementById('exampleRepeatPassword');
                const passwordHelp = document.getElementById('passwordHelp');
                const passwordConfirmHelp = document.getElementById('passwordConfirmHelp');

            // function validateEmail(email) {
            //     var re = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
            //     return re.test(String(email).toLowerCase());
            // }
            //
            // function validatePassword(password) {
            //     var re = /^(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-z0-9!@#$%^&*]{8,}$/;
            //     return re.test(String(password));
            // }

            // passwordInput.addEventListener('input', function () {
            //     if (!validatePassword(passwordInput.value)) {
            //         passwordHelp.innerHTML = "총 8자 이상 숫자, 소문자, 특수문자를 각각 하나 이상 ";
            //         passwordHelp.style.color = "red";
            //     } else {
            //         passwordHelp.innerHTML = "";
            //     }
            // });
        //
        //     repeatPasswordInput.addEventListener('input', function () {
        //         if (passwordInput.value !== repeatPasswordInput.value) {
        //             passwordConfirmHelp.innerHTML = "패스워드가 일치하지 않습니다.";
        //             passwordConfirmHelp.style.color = "red";
        //         } else {
        //             passwordConfirmHelp.classList.add('text-primary');
        //             passwordConfirmHelp.innerHTML = "유효한 비밀번호입니다.";
        //         }
        //     });
        //
        //     emailInput.addEventListener('input', function () {
        //         if (validateEmail(emailInput.value)) {
        //             validationButton.disabled = false;
        //         } else {
        //             validationButton.disabled = true;
        //         }
        //     });
        // }

        $("#frontsecurity, #backsecurity").on("input", function () {
            var inputVal = $(this).val();
            // 숫자가 아닌 문자가 포함되어 있는지 확인
            if (/[^\d]/.test(inputVal)) {
                alert("숫자만 입력 가능합니다.");
                // 숫자가 아닌 문자를 모두 제거
                $(this).val(inputVal.replace(/[^0-9]/g, ""));
            }

            // 앞자리는 6자리, 뒷자리는 7자리로 제한
            if (this.id == 'frontsecurity' && $(this).val().length > 6) {
                $(this).val($(this).val().slice(0, 6));
            }
            if (this.id == 'backsecurity' && $(this).val().length > 7) {
                $(this).val($(this).val().slice(0, 7));
            }
        });
        $("#phonenumber").on("input", function () {
            // 숫자만 입력되도록 필터링
            $(this).val($(this).val().replace(/[^0-9]/g, ""));
            // 010이 이미 입력되어있는 상태에서 추가적으로 숫자를 입력받아 '-'를 붙이는 과정
            var inputVal = $(this).val();
            var formatted = inputVal;
            if (inputVal.length > 3) {
                var front = inputVal.substr(0, 3);
                var middle = inputVal.substr(3, 4);
                var back = inputVal.substr(7, 4);
                formatted = front;
                if (middle != "") {
                    formatted += "-" + middle;
                }
                if (back != "") {
                    formatted += "-" + back;
                }
            }
            $(this).val(formatted);
        });

        // document.querySelector('.btn-user.btn-block').addEventListener('click', function (e) {
        //     e.preventDefault();
        //     alert('인증번호가 전송되었습니다.');
        //     document.getElementById('verificationField').style.display = 'flex';
        // });

        function changeForm(userType) {
            const idField = document.getElementById('idField');
            const form = document.querySelector(".user");
            if (userType == 'student') {
                idField.innerHTML = '<input type="text" class="form-control form-control-user" id="studentId" placeholder="학번" name="studentId" required>';
                form.action = "/manager/addstudent";
            } else if (userType == 'professor') {
                idField.innerHTML = '<input type="text" class="form-control form-control-user" id="professorId" placeholder="교수번호" name="professorId" required>';
                form.action = "/manager/addprofessor";
            } else if (userType == 'manager') {
                idField.innerHTML = '<input type="text" class="form-control form-control-user" id="managerId" placeholder="교직원사원번호" name="managerId" required>';
                form.action = "/manager/addmanager";
            }
        }
    </script>

</body>

</html>