<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>
<body>
<!--header/footer 붙이는 방법-->
<header th:insert="layout/managerHeader :: header"></header>
<main>
    <div class="d-flex justify-content-center align-items-start">
        <div class="container my-3">
            <div class="main-img text-center">
                <img alt="오류" class="w-50" src="/img/centum_university.png">
                <!-- main 이미지 div -->
                <div>

                </div>
                <!-- 메인 페이지 div-->
                <div class="d-flex justify-content-center align-items-start">
                    <div class="main-page">
                        <div class="d-flex" style="justify-content: space-evenly;">
                            <!-- 공지 사항 -->
                            <div class="main-notice">
                                <h3>
                                    <a th:href="@{/noticeList}">공지사항</a>
                                </h3>
                                <div class="main-split"></div>
                                <table>
                                    <tr>
                                        <th style="width: 10%">번호</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                    </tr>
                                    <tr th:each="notice : ${notice}">
                                        <td th:text="${notice.idx}"></td>
<!--                                        <td th:text="${notice.title}"></td>-->
                                        <td>
                                            <a th:href="@{/noticeView/{id}(id=${notice.idx})}" th:text="${notice.title}">Notice title</a>
                                        </td>
                                        <td th:text="${notice.wdate}"></td>
                                    </tr>
                                </table>
                            </div>

                            <div class="main-calendar">
                                <h3>
                                    <a th:href="@{/calendar}">학사일정</a>
                                </h3>
                                <div class="main-split"></div>
                                <table>
                                    <tr>
                                        <th>글 번호</th>
                                        <th>내용</th>
                                        <th>기간</th>
                                    </tr>
                                    <!-- DB에서 내용 꺼내와서 채워넣기 -->
                                    <tr th:each="calendar : ${calendar}">
                                        <td th:text="${calendar.idx}"></td>
                                        <td th:text="${calendar.title}"></td>
                                        <td th:text="${calendar.start_date} + ' ~ ' + ${calendar.end_date}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="layout/managerHeader :: footer"></footer>
</body>
</html>