<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>

<body>
<header th:insert="layout/managerHeader :: header"> </header>
<div class="container mt-5 min-height">
    <h2>학과 명단</h2>
    <hr>
    <form th:action="@{/manager/majorList}" class="form-inline">
        <div class="form-group">
            <label for="collegeIdx">단과대학</label>
            <select class="form-control" id="collegeIdx" name="collegeIdx">
                <option value="">단과대학 선택</option>
                <!-- 여기에 AJAX를 통해 가져온 단과 대학 목록이 동적으로 추가 -->
            </select>
        </div>

        <!-- 학과명으로 검색할 수 있는 검색창 추가 -->
        <div class="form-group ml-4 mr-2">
            <label for="majorName">학과명</label>
            <input type="text" class="form-control" id="majorName" name="majorName" placeholder="학과명을 입력하세요">
        </div>

        <button class="btn btn-primary">검색</button>
    </form>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>단과대학</th>
            <th>학과명</th>
            <th colspan="2" th:if="${session.user.user.role.toString() == '교직원'}"></th>
        </tr>

        <tr th:each="item : ${list}">
            <td th:text="${item.college.name}"></td>
            <td th:text="${item.name}"></td>
            <td><a th:href="@{/manager/majorView/{idx}(idx=${item.idx})}"><button class="btn btn-warning">수정</button></a></td>
            <td><button class="btn btn-danger" th:onclick="'confirmDelete('+${item.idx}+');'">삭제</button></td>
        </tr>

        <tr th:if="${list == null || list.isEmpty()}">
            <td colspan="4" style="text-align: center;">검색 결과가 없습니다.</td>
        </tr>
    </table>
    <a href="/manager/registerMajor"><button class="btn btn-facebook">학과 등록</button></a>
    <a href="/manager/majorList"><button class="btn btn-facebook" th:if="${!#strings.isEmpty(majorName) or !#strings.isEmpty(collegeIdx)}">목록으로</button></a>

    <div class="m-auto mt-3" style="width: fit-content" th:if="${list.totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:if="${list.hasPrevious && ((list.number / 5) - 1) * 5 >= 0}">
                <a th:href="@{/manager/majorList(page=${((list.number / 5) - 1) * 5})}">
                    <button class="page-link" th:text="'<<'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${list.hasPrevious}">
                <a th:href="@{/manager/majorList(page=${list.number - 1})}">
                    <button class="page-link" th:text="'<'"></button>
                </a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, list.totalPages - 1)}"
                th:if="${i / 5 == list.number / 5}">
                <a th:href="@{/manager/majorList(page=${i})}">
                    <button class="page-link" disabled style="background-color: rgba(128, 128, 128, 0.5)"
                            th:if="${list.number == i}" th:text="${i + 1}"></button>
                </a>
                <a th:href="@{/manager/majorList(page=${i})}">
                    <button class="page-link" th:unless="${list.number == i}" th:text="${i + 1}"></button>
                </a>
            </li>

            <li class="page-item" th:if="${list.hasNext}">
                <a th:href="@{/manager/majorList(page=${list.number + 1})}">
                    <button class="page-link" th:text="'>'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${list.hasNext && list.totalPages - 1 >= ((list.number / 5) + 1) * 5}">
                <a th:href="@{/manager/majorList(page=${((list.number / 5) + 1) * 5})}">
                    <button class="page-link" th:text="'>>'"></button>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

<script>
    function confirmDelete(majorIdx) {
        const result2 = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });
        result2.fire({
            title: "학과 삭제확인",
            text: "정말 삭제하시겠습니까?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "네, 삭제 합니다.",
            cancelButtonText: "아니요, 취소합니다.",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // AJAX 요청 시작
                $.ajax({
                    url: '/manager/majorDelete/' + majorIdx, // AJAX 요청 URL
                    type: 'GET', // HTTP 메소드
                    success: function (response) {
                        // 성공 시 처리
                        Swal.fire({
                            title: "삭제 확인",
                            text: "학과 삭제가 완료되었습니다.",
                            icon: "success"
                        }).then(() => {
                            window.location.href = "/manager/majorList"; // 페이지 새로고침 또는 이동
                        });
                    },
                    error: function () {
                        // 오류 시 처리
                        Swal.fire({
                            title: "오류",
                            text: "삭제 중 오류가 발생했습니다.",
                            icon: "error"
                        });
                    }
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    title: "삭제 취소",
                    text: "학과 삭제가 취소되었습니다.",
                    icon: "error"
                });
            }
        });
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // AJAX를 통해 단과 대학 목록을 가져옴
        $.ajax({
            url: "/manager/getColleges",
            type: "GET",
            dataType: "json",
            success: function(data) {
                // 가져온 단과 대학 목록을 select 요소에 추가
                var select = $("#collegeIdx");
                $.each(data, function(index, college) {
                    select.append('<option value="' + college.idx + '">' + college.name + '</option>');
                });
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let majorName = /*[[${majorName}]]*/ null;
        let collegeIdx = /*[[${collegeIdx}]]*/ null;

        $('.pagination a').on('click', function (event) {
            event.preventDefault();

            let href = $(this).attr('href');

            if (collegeIdx !== null) {
                href += '&collegeIdx=' + encodeURIComponent(collegeIdx);
            }
            if (majorName !== null) {
                href += '&majorName=' + encodeURIComponent(majorName);
            }

            location.href = href;
        });
    });
    /*]]>*/
</script>

</body>
</html>