<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>

<body>
<header th:insert="layout/header :: header"> </header>
<div class="container mt-3">
    <form method="post" th:action="@{/manager/majorUpdate/{idx}(idx=${major.idx})}">
        <table class="table table-bordered">
            <tr>
                <th>학과명</th>
                <td>
                    <label>
                        <input type="text" th:value="${major.name}" name="name" required>
                    </label>
                </td>
            </tr>
            <tr>
                <th>등록금</th>
                <td>
                    <label>
                        <input type="text" th:value="${major.tuition}" name="tuition" required>
                    </label>
                </td>
            </tr>
            <tr>
                <th>단과대학</th>
                    <td th:text="${major.college.name}">
                </td>
            </tr>
        </table>
        <button class="btn btn-primary">수정 완료</button>
    </form>
</div>
<footer th:insert="layout/header :: footer"></footer>
</body>
</html>
