<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>

<body>
<header th:insert="layout/header :: header"> </header>
<div class="container mt-3">
    <h2>교직원 명단</h2>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>학과명</th>
            <th>단과대학</th>
        </tr>

        <tr th:each="item : ${list}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.college.name}"></td>
            <td><button class="btn btn-warning"><a th:href="@{/manager/majorView/{idx}(idx=${item.idx})}">수정</a></button></td>
            <td><button class="btn btn-danger"><a href="/manager/majorDelete">삭제</a></button></td>
        </tr>
    </table>
    <button class="btn btn-primary"><a href="/manager/registerMajor">학과 등록</a></button>
</div>
<footer th:insert="layout/header :: footer"></footer>
</body>
</html>
