<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>
<body>
<header th:insert="layout/managerHeader :: header"></header>

<main>
    <div class="container mt-3">
        <h2>교직원 명단</h2>
        <hr>
        <form id="searchForm" action="/manager/managerListKeyword" class="form-inline">
            <div class="form-group">
                <select class="form-control" name="searchType">
                    <option th:if="${param.searchType == 'name'}" value="name" th:text="이름" selected></option>
                    <option value="name" th:text="이름"></option>
                    <option th:if="${param.searchType == 'phone'}" value="phone" selected th:text="연락처"></option>
                    <option value="phone" th:text="연락처"></option>
                </select>
                <div class="form-group ml-4 mr-2">
                    <input class="form-control" type="text" th:value="${param.searchValue}" name="searchValue" placeholder="검색어 입력">
                </div>

                <!--                     퇴사 여부 필터-->
                <div class="form-check form-check-inline">
                    <input type="hidden" id="leave" name="leave" value="false">
                    <input class="form-check-input" type="checkbox" id="leaveCheckbox" th:checked="${leave}">
                    <label class="form-check-label" for="leaveCheckbox">퇴사자 제외</label>
                </div>
                <button class="btn btn-primary" onclick="updateHiddenInput()">검색</button>
            </div>
        </form>

        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="name" order="1">이름<span class="order"></span></th>
                <th>아이디</th>
                <th>연락처</th>
                <th class="hireDate" order="1">입사일<span class="order"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${managerList == null || managerList.isEmpty()}">
                <td colspan="6" style="text-align: center; height: 100px; vertical-align: middle;">
                    <h5>조건에 해당하는 결과가 존재하지 않습니다.</h5>
                </td>
            </tr>
            <tr th:unless="${#lists.isEmpty(managerList)}" th:each="row : ${managerList}">
                <td class="name"><a th:text="${row.managerName}" th:href="@{'/manager/managerView/' + ${row.idx}}"></a></td>
                <td th:text="${row.managerId}"></td>
                <td th:text="${row.managerPnum}"></td>
                <td class="hireDate" th:text="${row.managerHireDate}"></td>
             </tr>
            </tbody>
        </table>
        <a href="/manager/register">
            <button class="btn btn-primary">교직원 등록</button>
        </a>
        <a href="/manager/managerList">
            <button class="btn btn-primary" th:if="${searchValue != null or searchType != null or leave != null}">목록으로</button>
        </a>

        <div class="m-auto mt-3" style="width: fit-content" th:if="${managerList.totalPages > 1}">
            <ul class="pagination">
                <li class="page-item" th:if="${managerList.hasPrevious && ((managerList.number / 5) - 1) * 5 >= 0}">
                    <a th:href="@{/manager/managerList(page=${((managerList.number / 5) - 1) * 5})}">
                        <button class="page-link" th:text="'<<'"></button>
                    </a>
                </li>

                <li class="page-item" th:if="${managerList.hasPrevious}">
                    <a th:href="@{/manager/managerList(page=${managerList.number - 1})}">
                        <button class="page-link" th:text="'<'"></button>
                    </a>
                </li>

                <li class="page-item" th:each="i : ${#numbers.sequence(0, managerList.totalPages - 1)}"
                    th:if="${i / 5 == managerList.number / 5}">
                    <a th:href="@{/manager/managerList(page=${i})}">
                        <button class="page-link" disabled style="background-color: rgba(128, 128, 128, 0.5)"
                                th:if="${managerList.number == i}" th:text="${i + 1}"></button>
                    </a>
                    <a th:href="@{/manager/managerList(page=${i})}">
                        <button class="page-link" th:unless="${managerList.number == i}" th:text="${i + 1}"></button>
                    </a>
                </li>

                <li class="page-item" th:if="${managerList.hasNext}">
                    <a th:href="@{/manager/managerList(page=${managerList.number + 1})}">
                        <button class="page-link" th:text="'>'"></button>
                    </a>
                </li>

                <li class="page-item"
                    th:if="${managerList.hasNext && managerList.totalPages - 1 >= ((managerList.number / 5) + 1) * 5}">
                    <a th:href="@{/manager/managerList(page=${((managerList.number / 5) + 1) * 5})}">
                        <button class="page-link" th:text="'>>'"></button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>

<footer th:insert="layout/managerHeader :: footer"></footer> <!-- footer 부분 수정 -->

<script>

    function updateHiddenInput() {
        var checkbox = document.getElementById('leaveCheckbox');
        var hiddenInput = document.getElementById('leave');

        if (checkbox.checked) {
            hiddenInput.value = 'true';
        } else {
            hiddenInput.value = 'false';
        }
    }

    function isNumeric(str) {
        return !isNaN(str)  // NaN(Not A Number), isNaN은 숫자가 아닐 때 true를 반환한다
    }

    const tbody = document.querySelector('tbody')
    // th를 클릭하면 각 클래스의 이름을 기준으로 정렬하기
    const thList = document.querySelectorAll('th')

    function sortHandler(event) {
        // 클릭당한 th의 className을 불러온다
        const className = event.target.className

        // 클릭당한 th의 order 속성값을 정수로 불러온다
        const order = +event.target.getAttribute('order')
        // alert(order)

        // 클릭당한 th 내부의 span을 불러온다(모든 span에 대해서 글자를 지우고 수행한다)
        document.querySelectorAll('thead span.order').forEach(span => span.innerText = '')
        const span = event.target.querySelector('span.order')
        span.innerText = order > 0 ? ' ▲' : ' ▼'

        const trArray = Array.from(document.querySelectorAll('tbody > tr'))

        trArray.sort((a, b) => {
            let valueA = a.querySelector('.' + className).innerText
            let valueB = b.querySelector('.' + className).innerText
            if (isNumeric(valueA) && isNumeric(valueB)) {
                valueA = +valueA
                valueB = +valueB
            }
            let result = valueA > valueB ? 1 : -1
            event.target.setAttribute('order', order * -1)
            return result * order
        })
        trArray.forEach(tr => tbody.appendChild(tr))
    }

    thList.forEach(th => th.onclick = sortHandler)
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let searchValue = /*[[${searchValue}]]*/ null;
        let searchType = /*[[${searchType}]]*/ null;
        let leave = /*[[${leave}]]*/ null;

        $('.pagination a').on('click', function (event) {
            event.preventDefault();

            let href = $(this).attr('href');
            let page = href.split('=')[1];

            if (searchValue !== null || searchType !== null || leave !== null) {
                href = '/manager/managerListKeyword?page=' + page;

                if (searchValue !== null) {
                    href += '&searchValue=' + encodeURIComponent(searchValue);
                }
                if (searchType !== null) {
                    href += '&searchType=' + encodeURIComponent(searchType);
                }
                if (leave !== null) {
                    href += '&leave=' + leave;
                }
            }

            location.href = href;
        });
    });
    /*]]>*/
</script>
</body>
</html>