<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>
<body>
<header th:insert="layout/header :: header"> </header>

<main>
    <div class="container mt-3">
        <h2>교직원 명단</h2>
        <hr>
        <div class="selectBox flex">
            <div class="form-group">
            <form method="POST" class="form-inline">
                <select class="form-control" name="searchType">
                    <option value="name"> 이름</option>
                    <option value="phone">연락처</option>
                </select>
                <input class="form-control" type="text" name="searchValue" placeholder="검색어 입력">
                <input class="form-control" type="submit" value="검색">
            </form>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>이름</th>
                <th>아이디</th>
                <th>연락처</th>
                <th>입사일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(managerList)}">
                <td colspan="6" style="text-align: center; height: 100px; vertical-align: middle;">
                    <h5>조건에 해당하는 결과가 존재하지 않습니다.</h5>
                </td>
            </tr>
            <tr th:unless="${#lists.isEmpty(managerList)}" th:each="row : ${managerList}">
                <td><a th:text="${row.managerName}" th:href="@{'/manager/managerView/' + ${row.idx}}"></a></td>
                <td th:text="${row.managerId}"></td>
                <td th:text="${row.managerPnum}"></td>
                <td th:text="${row.managerHireDate}"></td>
             </tr>
            </tbody>
        </table>
        <button class="btn btn-facebook"><a href="/manager/register">교직원 등록</a></button>
        <button class="btn btn-primary" th:if="${searchValue != null && searchValue != ''}"><a th:href="@{/manager/managerList}">목록으로</a></button>
    </div>
</main>

<footer th:insert="layout/header :: footer"></footer> <!-- footer 부분 수정 -->
</body>
</html>