<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>
<body>
<header th:insert="layout/managerHeader :: header"></header>
<div class="container mt-4">
    <h2>내 정보 수정</h2>
    <hr>

    <form method="post" action="/userModify" id="modifyForm">
        <div class="w-50 m-auto">

            <!-- 이름 출력란 -->
            <div class="input-group input-group-sm mb-3" style="width: 70%;">
                <span class="input-group-text" style="width: 20%;">이름</span>
                <input class="form-control" name="user_name" th:disabled="true"
                       th:value="${session.user.user.user_name}"
                       type="text">
            </div>

            <!-- 주소 입력란 -->
            <div class="input-group input-group-sm mb-3" style="width: 70%;">
                <span class="input-group-text" style="width: 20%;">주소</span>
                <input type="text" class="form-control" name="user_address"
                       th:value="${session.user.user.user_address}">
            </div>

            <div class="input-group input-group-sm mb-3" style="width: 70%;">
                <span class="input-group-text" style="width: 20%;">전화번호</span>
                <input type="text" class="form-control form-control-user" name="pnum" id="phonenumber"
                       placeholder="전화번호" th:value="${session.user.user.pnum}" required>
            </div>

            <div class="form-group row">
                <div class="col-sm-8 mb-3 mb-sm-0">
                    <input type="email" class="form-control form-control-user"
                           id="exampleInputEmail" placeholder="Email" name="email" th:value="${session.user.user.email}"
                           required>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-user btn-block"
                            id="email_validation">인증하기
                    </button>
                </div>
            </div>

            <!-- 이메일 입력란 -->
            <div class="form-group row" id="verificationField" style="display: none;">
                <div class="col-sm-8 mb-3 mb-sm-0">
                    <input type="hidden" class="form-control form-control-user" id="verificationCode1"
                           placeholder="인증번호" disabled>
                    <input type="text" class="form-control form-control-user" id="verificationCode"
                           placeholder="인증번호" required>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-user btn-block" id="checkVerification">인증확인
                    </button>
                </div>
            </div>

            <div class="w-50 m-auto">
                <button type="submit" id="btn-manager-modify" class="btn btn-warning" style="margin-right: 10px;">수정
                </button>
                <button type="button" class="btn btn-outline-secondary">취소</button>
            </div>
        </div>
    </form>

    <hr>

    <div class="m-auto w-50 mt-5">
        <h2>내 비밀번호 수정</h2>
        <br/>
        <form method="post" action="/changePassword" id="changePassword">
            <!-- 패스워드 입력란 -->
            <div class="form-group row d-flex flex-wrap">
                <div class="col-sm-12 mb-3 ">
                    <input type="password" class="form-control form-control-user" name="nowPassword"
                           id="previous" placeholder="기존 패스워드">
                    <span class="my-1" id="previousHelp"></span>
                </div>

                <div class="col-sm-12 mb-3 ">
                    <input type="password" class="form-control form-control-user" name="newPassword"
                           id="exampleInputPassword" placeholder="변경할 패스워드">
                    <span class="my-1" id="passwordHelp"></span>
                </div>

                <!-- 패스워드 확인 입력란 -->
                <div class="col-sm-12 mb-3 ">
                    <input type="password" class="form-control form-control-user"
                           id="exampleRepeatPassword" name="repeatPassword" placeholder="변경할 패스워드 확인">
                    <span class="my-1" id="passwordConfirmHelp"></span>
                </div>

                <div class="col-sm-6 mb-3 justify-content-center">
                    <input type="submit" class="btn btn-facebook"
                           id="passwordChangeBtn" value="비밀번호 변경하기">
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

<script>
    let emailChecked = false;
    let checkPassword = false;
    let eachPassword = false;

    window.onload = function () {
        const emailInput = document.getElementById('exampleInputEmail');
        const validationButton = document.getElementById('email_validation');
        const passwordInput = document.getElementById('exampleInputPassword');
        const repeatPasswordInput = document.getElementById('exampleRepeatPassword');
        const passwordHelp = document.getElementById('passwordHelp');
        const passwordConfirmHelp = document.getElementById('passwordConfirmHelp');


        function validateEmail(email) {
            var re = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
            return re.test(String(email).toLowerCase());
        }

        function validatePassword(password) {
            var re = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/;
            return re.test(String(password));
        }

        passwordInput.addEventListener('focus', function () {
            passwordHelp.innerHTML = "영문/숫자/특수문자를 모두 포함(8자 이상)";
        });
        repeatPasswordInput.addEventListener('focus', function () {
            passwordConfirmHelp.innerHTML = "확인을 위해 새 비밀번호를 다시 입력해주세요."
        });

        passwordInput.addEventListener('input', function () {
            if (validatePassword(passwordInput.value.trim())) {
                passwordHelp.classList.remove('text-danger');
                passwordHelp.classList.add('text-success');
                passwordHelp.innerHTML = "사용 가능한 비밀번호입니다.";
                checkPassword = true;
            } else {
                passwordHelp.classList.remove('text-success');
                passwordHelp.classList.add('text-danger');
                passwordHelp.innerHTML = "영문/숫자/특수문자를 모두 포함(8자 이상)";
            }
        });

        repeatPasswordInput.addEventListener('input', function () {
            if (passwordInput.value === repeatPasswordInput.value) {
                passwordConfirmHelp.classList.remove('text-danger')
                passwordConfirmHelp.classList.add('text-success');
                passwordConfirmHelp.innerHTML = "새 비밀번호가 일치합니다.";
                eachPassword = true;
            } else {
                passwordConfirmHelp.classList.add('text-danger');
                passwordConfirmHelp.classList.remove('text-success');
                passwordConfirmHelp.innerHTML = "새 비밀번호가 일치하지 않습니다.";
            }
        });

        emailInput.addEventListener('input', function () {
            if (validateEmail(emailInput.value)) {
                validationButton.disabled = false;
            } else {
                validationButton.disabled = true;
            }
        });


        // 취소 버튼 클릭 시 이벤트 처리
        document.querySelector('.btn-outline-secondary').addEventListener('click', function () {
            history.go(-1);
        });

    }

    $("#phonenumber").on("input", function () {
        // 숫자만 입력되도록 필터링
        $(this).val($(this).val().replace(/[^0-9]/g, ""));
        // 010이 이미 입력되어있는 상태에서 추가적으로 숫자를 입력받아 '-'를 붙이는 과정
        var inputVal = $(this).val();
        var formatted = inputVal;
        if (inputVal.length > 3) {
            var front = inputVal.substr(0, 3);
            var middle = inputVal.substr(3, 4);
            var back = inputVal.substr(7, 4);
            formatted = front;
            if (middle != "") {
                formatted += "-" + middle;
            }
            if (back != "") {
                formatted += "-" + back;
            }
        }
        $(this).val(formatted);
    });

    document.querySelector('#email_validation').addEventListener('click', function (e) {
        e.preventDefault();
        // AJAX 요청 부분
        $.ajax({
            type: "POST",
            url: "email-verification", // 이메일 인증번호를 반환하는 컨트롤러 URL
            data: {
                email: $('#exampleInputEmail').val() // 이메일 입력란의 값
            },
            success: function (response) {
                alert('인증번호가 전송되었습니다.');
                $('#verificationCode1').val(response); // 인증번호 입력란에 인증번호 설정
                document.getElementById('verificationField').style.display = 'flex';
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    });


    document.querySelector('#checkVerification').addEventListener('click', function (e) {
        e.preventDefault();
        // 인증번호 확인 부분
        var userCode = $('#verificationCode').val();
        var serverCode = $('#verificationCode1').val();

        if (userCode === serverCode) {
            alert('인증이 완료되었습니다.');
            emailChecked = true;
        } else {
            alert('인증번호가 일치하지 않습니다.');
        }
    });

    document.getElementById('btn-manager-modify').addEventListener('click', function (e) {
        e.preventDefault();

        if (emailChecked) {
            document.getElementById('modifyForm').submit();
        } else {
            alert('이메일 인증 후 시도해주세요');
        }
    })

    document.getElementById('passwordChangeBtn').addEventListener('click', function (e) {
        e.preventDefault();

        let previous = document.getElementById('previous');
        const passwordInput = document.getElementById('exampleInputPassword');
        const repeatPasswordInput = document.getElementById('exampleRepeatPassword');

        if (previous.value.trim() !== "" && passwordInput.value.trim() !== "" && repeatPasswordInput.value.trim() !== "") {
            if (checkPassword && eachPassword) {
                document.getElementById('changePassword').submit();
            }
        } else {
            if (previous.value.trim() === "") {
                let previousHelp = document.getElementById('previousHelp');
                previousHelp.innerHTML = "현재 비밀번호를 입력해주세요.";
                previousHelp.classList.add('text-danger');
            }
            if (passwordInput.value.trim() === "" || !checkPassword) {
                const passwordHelp = document.getElementById('passwordHelp');
                passwordHelp.innerHTML = "영문/숫자/특수문자를 모두 포함(8자 이상)";
                passwordHelp.classList.add('text-danger');
            }
            if (repeatPasswordInput.value.trim() === "" || !eachPassword) {
                const passwordConfirmHelp = document.getElementById('passwordConfirmHelp');
                passwordConfirmHelp.innerHTML = "확인을 위해 새 비밀번호를 다시 입력해주세요.";
                passwordConfirmHelp.classList.add('text-danger');
            }
        }
    });
</script>

</body>
</html>




