<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>

<body>
<header th:insert="layout/managerHeader :: header"> </header>
<div class="container mt-3">
    <h2>공지 등록</h2>
    <hr>

    <div class="d-flex flex-column align-items-center">
        <form method="post" class="w-75">
            <table class="table table-bordered">
                <tr>
                    <th style="vertical-align: middle; text-align: center;">제목</th>
                    <td>
                        <input type="text" name="title" required class="form-control">
                    </td>
                </tr>

                <tr>
                    <th style=" vertical-align: middle; text-align: center;">내용</th>
                    <td>
                        <textarea cols="40" rows="10" name="content" required class="form-control"></textarea>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary">등록</button>
            <a href="/manager/noticeList"><button type="button" class="btn btn-primary">취소</button></a>
        </form>
    </div>
</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

</body>
</html>