<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<header th:insert="layout/managerHeader :: header"> </header>
<div class="container mt-3">
    <h2>교수 명단</h2>
    <hr>
    <form id="searchForm" th:action="@{/manager/professorList}" class="form-inline">
        <div class="form-group">
            <label>학과명</label>
            <select class="form-control" name="major_idx">
                <option value="">학과를 선택하세요.</option>
                <option th:each="row : ${majorList}"
                        th:text="${row.name}"
                        th:value="${row.idx}"
                        th:selected="${map.major_idx != null and map.major_idx == row.idx}">
                </option>
            </select>
        </div>

        <!-- 이름으로 검색할 수 있는 검색창 추가 -->
        <div class="form-group ml-4 mr-2">
            <label>이름</label>
            <input type="text" class="form-control"name="name" th:value="${map.name}" value="${map.name}" placeholder="교수명을 입력하세요">
        </div>

        <!-- 퇴사 여부 필터 -->
        <div class="form-check form-check-inline">
            <input type="hidden" id="leave" name="leave" value="false">
            <input class="form-check-input" type="checkbox" id="leaveCheckbox" th:checked="${map['leave']}">
            <label class="form-check-label" for="leaveCheckbox">퇴사자 제외</label>
        </div>
        <button class="btn btn-primary" onclick="updateHiddenInput()">검색</button>
    </form>

    <br>
    <table class="table table-bordered">
        <tr>
            <th>이름</th>
            <th>학과</th>
            <th>연락처</th>
            <th>입사일</th>
        </tr>

        <tr th:each="row : ${professorList}">
            <td><a th:href="@{'/manager/professorView/' + ${row.idx}}" th:text="${row.name}"></a></td>
            <td th:text="${row.major_name}"></td>
            <td th:text="${row.pnum}"></td>
            <td th:text="${row.hireDate}"></td>
        </tr>

        <tr th:if="${professorList == null || professorList.isEmpty()}">
            <td colspan="4" class="text-center">검색 결과가 없습니다.</td>
        </tr>
    </table>
    <button class="btn btn-facebook"><a href="/manager/register">교수 등록</a></button>
    <a href="/manager/professorList"><button class="btn btn-facebook" th:if="${!#strings.isEmpty(map['major_idx']) or !#strings.isEmpty(map['name']) or !#strings.isEmpty(map['leave'])}">목록으로</button></a>

    <div class="m-auto mt-3" style="width: fit-content" th:if="${professorList.totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:if="${professorList.hasPrevious && ((professorList.number / 5) - 1) * 5 >= 0}">
                <a th:href="@{/manager/professorList(page=${((professorList.number / 5) - 1) * 5})}">
                    <button class="page-link" th:text="'<<'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${professorList.hasPrevious}">
                <a th:href="@{/manager/professorList(page=${professorList.number - 1})}">
                    <button class="page-link" th:text="'<'"></button>
                </a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, professorList.totalPages - 1)}"
                th:if="${i / 5 == professorList.number / 5}">
                <a th:href="@{/manager/professorList(page=${i})}">
                    <button class="page-link" disabled style="background-color: rgba(128, 128, 128, 0.5)"
                            th:if="${professorList.number == i}" th:text="${i + 1}"></button>
                </a>
                <a th:href="@{/manager/professorList(page=${i})}">
                    <button class="page-link" th:unless="${professorList.number == i}" th:text="${i + 1}"></button>
                </a>
            </li>

            <li class="page-item" th:if="${professorList.hasNext}">
                <a th:href="@{/manager/professorList(page=${professorList.number + 1})}">
                    <button class="page-link" th:text="'>'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${professorList.hasNext && professorList.totalPages - 1 >= ((professorList.number / 5) + 1) * 5}">
                <a th:href="@{/manager/professorList(page=${((professorList.number / 5) + 1) * 5})}">
                    <button class="page-link" th:text="'>>'"></button>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

<script>
    function updateHiddenInput() {
        var checkbox = document.getElementById('leaveCheckbox');
        var hiddenInput = document.getElementById('leave');

        if (checkbox.checked) {
            hiddenInput.value = 'true';
            checkbox.checked = true;
        } else {
            hiddenInput.value = 'false';
            checkbox.checked = false;
        }
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let major_idx = /*[[${map['major_idx']}]]*/ null;
        let name = /*[[${map['name']}]]*/ null;
        let leave = /*[[${map['leave']}]]*/ null;

        $('.pagination a').on('click', function (event) {
            event.preventDefault();
            let href = $(this).attr('href');
            if (major_idx !== null) {
                href += '&major_idx=' + encodeURIComponent(major_idx);
            }
            if (name !== null) {
                href += '&name=' + encodeURIComponent(name);
            }
            if (leave !== null) {
                href += '&leave=' + leave;
            }
            location.href = href;
        });
    });
    /*]]>*/
</script>

</body>
</html>