<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>

<body>
<header th:insert="layout/managerHeader :: header"></header>
<div class="container mt-5 min-height">
    <h2>교수 상세 정보</h2>
    <hr>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" th:action="@{'/manager/professorUpdateByManager/' + ${professor.idx}}" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <tr>
                        <th rowspan="4">
                            <img th:src="@{'/images/professor/' + ${professor.img}}" alt="Professor Image" class="img-thumbnail mb-3" id="professorImg">
                            <input type="file" name="professorImg" accept="image/*" onchange="previewImage(this)" th:if="${session.user.user.role.toString() == '교직원'}">
                        </th>
                        <td th:colspan="2"><input th:value="${professor.name}" type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td th:colspan="2">
                            <select class="form-control" id="major_idx" name="major_idx">
                                <option th:text="${professor.major_name}" th:value="${professor.major_idx}"></option>
                                <option th:each="row : ${majorList}"
                                        th:text="${row.name}"
                                        th:value="${row.idx}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td th:colspan="2"><input th:value="${professor.pnum}" type="text" name="pnum"></td>
                    </tr>
                    <tr>
                        <td th:colspan="2"><input th:value="${professor.address}" type="text" name="address"></td>
                    </tr>
                    <tr>
                        <th colspan="1">이메일</th>
                        <td><input th:value="${professor.email}" type="text" name="email"></td>
                    </tr>
                    <tr>
                        <th colspan="1">입사일</th>
                        <td><input th:value="${professor.hireDate}" type="date" name="hireDate"></td>
                    </tr>

                    <tr th:if="${professor.leaveDate != null}">
                        <th colspan="1">퇴사일</th>
                        <td><input th:value="${professor.leaveDate}" type="date" name="leaveDate"></td>
                    </tr>
                </table>
            <button class="btn btn-warning">수정</button>
            <button class="btn btn-danger"><a th:href="@{/manager/professorList}">취소</a></button>

            <button th:if="${professor.leaveDate == null}" type="button" class="btn btn-danger" onclick="handleLeave(this)"
                    th:data-professor-idx="${professor.idx}">퇴사 처리</button>
            </form>
        </div>
    </div>
</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

<script>
    function handleLeave(button) {
        var professorIdx = button.dataset.professorIdx;

        // 퇴사일 입력 필드 생성
        var leaveDateInput = document.createElement("input");
        leaveDateInput.setAttribute("type", "date");
        leaveDateInput.setAttribute("name", "leaveDate");
        leaveDateInput.classList.add("form-control");
        leaveDateInput.classList.add("border");
        leaveDateInput.classList.add("border-success");
        leaveDateInput.classList.add("w-50");
        leaveDateInput.classList.add("me-2");

        // 완료 버튼 생성
        var completeButton = document.createElement("button");
        completeButton.innerHTML = "완료";
        completeButton.setAttribute("type", "button");
        completeButton.style.backgroundColor = '#28a745';
        completeButton.style.color = 'white';
        completeButton.style.borderRadius = '5px';
        completeButton.style.borderColor = '#28a745';

        completeButton.addEventListener("click", function() {
            var result = confirm("퇴사 처리하시겠습니까?");
            if (result) {
                // 선택한 퇴사일 값을 Hidden Input에 설정
                var selectedLeaveDate = leaveDateInput.value;
                console.log("selectedLeaveDate : " + selectedLeaveDate);
                window.location.href = "/manager/professorDel/" + professorIdx + "/" + selectedLeaveDate;
            }
        });

        // 새로운 행 생성
        var newRow = document.createElement("tr");

        // 제목 셀 생성
        var newCell = document.createElement("th");
        newCell.innerHTML = "퇴사일";
        newCell.style.color = 'black';
        newRow.appendChild(newCell);

        // 테이블 셀 생성
        newCell = document.createElement("td");
        newCell.appendChild(leaveDateInput);
        newCell.appendChild(completeButton);
        newRow.appendChild(newCell);
        newCell.classList.add("d-flex");

        // 생성한 행을 테이블에 추가
        var table = document.querySelector("table");
        table.appendChild(newRow);
    }

    function previewImage(input) {
        var preview = document.getElementById('professorImg');
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        } else {
            preview.src = ''; // 이미지 선택이 해제될 경우 빈 화면으로 초기화
        }
    }
</script>
</body>
</html>