<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>

<body>
<header th:insert="layout/header :: header"></header>
<div class="container mt-3">
    <h2>교수 상세 정보</h2>
    <hr>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" th:action="@{'/manager/professorUpdateByManager/' + ${professor.idx}}">
                <table class="table table-bordered">
                    <tr>
                        <th rowspan="4">
                            <img th:src="${professor.img}" alt="Professor Image" class="img-fluid">
                        </th>
                        <td th:text="${professor.name}" th:colspan="2"></td>
                    </tr>
                    <tr>
                        <td th:text="${professor.userid}" th:colspan="2"></td>
                    </tr>
                    <tr>
                        <td th:text="${professor.major_name}" th:colspan="2"></td>
                    </tr>
                    <tr>
                        <td th:text="${professor.email}" th:colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="1">주소</th>
                        <td th:text="${professor.address}"></td>
                    </tr>
                    <tr>
                        <th colspan="1">연락처</th>
                        <td th:text="${professor.pnum}"></td>
                    </tr>
                    <tr>
                        <th colspan="1">입사일</th>
                        <td><input th:value="${professor.hireDate}" type="date" name="hireDate"></td>
                    </tr>

                    <tr th:if="${professor.leaveDate != null}">
                        <th>퇴사일</th>
                        <td><input th:value="${professor.leaveDate}" type="date" name="leaveDate" th:colspan="2"></td>
                    </tr>
                </table>
            <button class="btn btn-warning">수정</button>
            <button class="btn btn-danger"><a th:href="@{/manager/professorList}">취소</a></button>

            <button th:if="${professor.leaveDate == null}" type="button" class="btn btn-danger" onclick="handleLeave(this)"
                    th:data-professor-idx="${professor.idx}">퇴사 처리</button>
            </form>
        </div>
    </div>
</div>
<footer th:insert="layout/header :: footer"></footer>

<script>
    function handleLeave(button) {
        var professorIdx = button.dataset.professorIdx;

        // 퇴사일 입력 필드 생성
        var leaveDateInput = document.createElement("input");
        leaveDateInput.setAttribute("type", "date");
        leaveDateInput.setAttribute("name", "leaveDate");
        leaveDateInput.classList.add("form-control");
        leaveDateInput.classList.add("border");
        leaveDateInput.classList.add("border-success");
        leaveDateInput.classList.add("w-50");
        leaveDateInput.classList.add("me-2");

        // 완료 버튼 생성
        var completeButton = document.createElement("button");
        completeButton.innerHTML = "완료";
        completeButton.setAttribute("type", "button");
        completeButton.style.backgroundColor = '#28a745';
        completeButton.style.color = 'white';
        completeButton.style.borderRadius = '5px';
        completeButton.style.borderColor = '#28a745';

        completeButton.addEventListener("click", function() {
            var result = confirm("퇴사 처리하시겠습니까?");
            if (result) {
                // 선택한 퇴사일 값을 Hidden Input에 설정
                var selectedLeaveDate = leaveDateInput.value;
                console.log("selectedLeaveDate : " + selectedLeaveDate);
                window.location.href = "/manager/professorDel/" + professorIdx + "/" + selectedLeaveDate;
            }
        });

        // 새로운 행 생성
        var newRow = document.createElement("tr");

        // 제목 셀 생성
        var newCell = document.createElement("th");
        newCell.innerHTML = "퇴사일";
        newCell.style.color = 'black';
        newRow.appendChild(newCell);

        // 테이블 셀 생성
        newCell = document.createElement("td");
        newCell.appendChild(leaveDateInput);
        newCell.appendChild(completeButton);
        newRow.appendChild(newCell);
        newCell.classList.add("d-flex");

        // 생성한 행을 테이블에 추가
        var table = document.querySelector("table");
        table.appendChild(newRow);
    }
</script>
</body>
</html>