<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert = "layout/managerHeader :: head"></head>
<body>
<header th:insert = "layout/managerHeader :: header" ></header>
<div class="container mt-5 min-height">
  <h2>강의 등록</h2>
  <hr>

<form method="post">
  <div class="w-50 m-auto">
      <div class="input-group input-group-sm mb-3 w-100">
          <span class="input-group-text" style="width: 20%;">학과</span>
          <select class="form-control" id="major_idx" name="major_idx">
              <option value="">학과를 선택하세요.</option>
              <option th:each="major : ${majorList}"
                      th:text="${major.name}"
                      th:value="${major.idx}"
                      th:data-college="${major.college.idx}"
                      th:data-idx="${major.idx}">
              </option>
          </select>
      </div>

      <div class="input-group input-group-sm mb-3 w-100">
          <span class="input-group-text" style="width: 20%;">교수</span>
          <select class="form-control" id="professor_idx" name="professor_idx">
              <!-- 교수 목록이 여기에 채워짐 -->
          </select>
      </div>

      <div class="input-group input-group-sm mb-3 w-100">
          <span class="input-group-text" style="width: 20%;">강의실</span>
          <select class="form-control" id="lectureRoom_idx" name="lectureRoom_idx">
              <!-- 강의실 목록이 여기에 채워짐 -->
          </select>
      </div>

        <div class="input-group input-group-sm mb-3 w-100">
            <span class="input-group-text" style="width: 20%;">강의명</span>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="input-group input-group-sm mb-3 w-100">
            <span class="input-group-text" style="width: 20%;">강의소개</span>
            <textarea class="form-control" rows="10" name="intro"></textarea>
        </div>

        <div class="input-group input-group-sm mb-3 w-100">
            <span class="input-group-text" style="width: 20%;">수강 학점</span>
            <input type="number" class="form-control" name="credit">
        </div>

      <div class="input-group mb-3">
          <div class="row w-100">
              <div class="col">
                  <div class="input-group-text w-100 d-flex justify-content-center">
                      <input class="text-end" type="checkbox" aria-label="Checkbox for Monday" value="월" name="day"> 월
                  </div>
              </div>
              <div class="col">
                  <div class="input-group-text w-100 d-flex justify-content-center">
                      <input class="text-end" type="checkbox" aria-label="Checkbox for Tuesday" value="화" name="day"> 화
                  </div>
              </div>
              <div class="col">
                  <div class="input-group-text w-100 d-flex justify-content-center">
                      <input type="checkbox" aria-label="Checkbox for Wednesday" value="수" name="day"> 수
                  </div>
              </div>
              <div class="col">
                  <div class="input-group-text w-100 d-flex justify-content-center">
                      <input type="checkbox" aria-label="Checkbox for Thursday" value="목" name="day"> 목
                  </div>
              </div>
              <div class="col">
                  <div class="input-group-text w-100 d-flex justify-content-center">
                      <input type="checkbox" aria-label="Checkbox for Friday" value="금" name="day"> 금
                  </div>
              </div>
          </div>
      </div>

      <div id="timeDiv" class="mb-4"></div>

      <div class="input-group input-group-sm mb-3 w-100">
          <span class="input-group-text" style="width: 20%;">강의 타입</span>
          <select class="form-control" name="type">
              <option value="전공탐색">전공탐색</option>
              <option value="전공필수">전공필수</option>
              <option value="전공선택">전공선택</option>
              <option value="교양">교양</option>
          </select>
      </div>


        <div class="input-group input-group-sm mb-3 w-100">
            <span class="input-group-text" style="width: 20%;">최대 인원</span>
            <input type="number" class="form-control" name="max_count">
        </div>

        <div class="input-group input-group-sm mb-3 w-100">
            <span class="input-group-text" style="width: 20%;">년도/학기</span>
            <input type="text" class="form-control" name="semester" th:value="${globalSemester}">
        </div>

        <div class="input-group input-group-sm mb-3 w-100">
            <span class="input-group-text" style="width: 20%;">학년</span>
            <input type="number" class="form-control" name="grade">
        </div>

        <div class="w-50 m-auto text-center">
            <button class="btn btn-facebook" style="margin-right: 10px;">등록</button>
            <a href="/lectureList"><button type="button" class="btn btn-danger">취소</button></a>
        </div>
    </div>
</form>
</div>

<footer th:insert="layout/managerHeader :: footer"></footer>

<script>
    // 체크박스가 변경될 때마다 실행되는 함수
    function updateTimes() {
        // 모든 체크박스를 가져옴
        let checkboxes = document.querySelectorAll('input[type="checkbox"]');
        // 시작 시간과 끝 시간 입력 필드를 담을 div
        let timeDiv = document.getElementById('timeDiv');

        // 기존에 있던 모든 입력 필드를 초기화
        timeDiv.innerHTML = '';

        // 체크된 체크박스의 수를 카운트하는 변수
        let count = 0;

        checkboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                let dayDiv = document.createElement('div');
                dayDiv.textContent = checkbox.value;

                let timeInputDiv = document.createElement('div');

                let startTimeDiv = document.createElement('div');
                startTimeDiv.className = 'input-group input-group-sm mb-3 w-100';

                let startTimeSpan = document.createElement('span');
                startTimeSpan.className = 'input-group-text';
                startTimeSpan.style.width = '20%';
                startTimeSpan.textContent = '시작 시간';

                let startTimeInput = document.createElement('input');
                startTimeInput.type = 'time';
                startTimeInput.min = '09:00';
                startTimeInput.max = '16:00';
                startTimeInput.className = 'form-control';
                startTimeInput.name = 'start[' + count + ']';  // 이름에 인덱스 번호 부여

                startTimeDiv.appendChild(startTimeSpan);
                startTimeDiv.appendChild(startTimeInput);

                let endTimeDiv = document.createElement('div');
                endTimeDiv.className = 'input-group input-group-sm mb-3 w-100';

                let endTimeSpan = document.createElement('span');
                endTimeSpan.className = 'input-group-text';
                endTimeSpan.style.width = '20%';
                endTimeSpan.textContent = '끝 시간';

                let endTimeInput = document.createElement('input');
                endTimeInput.type = 'time';
                endTimeInput.min = '10:00';
                endTimeInput.max = '19:00';
                endTimeInput.className = 'form-control';
                endTimeInput.name = 'end[' + count + ']';  // 이름에 인덱스 번호 부여

                endTimeDiv.appendChild(endTimeSpan);
                endTimeDiv.appendChild(endTimeInput);

                timeInputDiv.appendChild(startTimeDiv);
                timeInputDiv.appendChild(endTimeDiv);

                timeDiv.appendChild(dayDiv);
                timeDiv.appendChild(timeInputDiv);

                // 체크된 체크박스의 수를 하나 증가
                count++;
            }
        });
    }

    // 페이지가 로드되었을 때
    window.onload = function() {
        // 모든 체크박스를 가져옴
        let checkboxes = document.querySelectorAll('input[type="checkbox"]');

        // 각 체크박스에 대해
        checkboxes.forEach(checkbox => {
            // 체크박스가 변경되면 updateTimes 함수를 실행
            checkbox.onchange = updateTimes;
        });

        // 페이지가 로드되었을 때 한 번 실행
        updateTimes();
    };
</script>

<!--학과를 선택함에 따라서 강의실 번호와 교수 번호를 띄워줌-->
<script>
    $(document).ready(function() {
        $('#major_idx').change(function() {
            // var majorIdx = $(this).val();
            var collegeIdx = $('option:selected', this).data('college');
            var majorIdx = $('option:selected', this).data('idx');

            // 강의실 목록을 초기화합니다
            $('#lectureRoom_idx').empty();
            $('#professor_idx').empty();

            // Ajax 요청을 보냅니다
            $.ajax({
                url: '/manager/getLecturerooms', // 강의실 목록을 가져오는 API 주소를 입력
                type: 'GET',
                data: {
                    'major_idx': majorIdx,
                    'college_idx': collegeIdx
                },
                success: function(data) {
                    // API에서 반환한 데이터를 사용하여 강의실 목록을 채움
                    $.each(data.lecturerooms, function(index, lectureroom) {
                        $('#lectureRoom_idx').append($('<option>', {
                            value: lectureroom.idx,
                            text: data.college.location+lectureroom.room,
                        }));
                    });

                    // API에서 반환한 데이터를 사용하여 교수 목록을 채움
                    $.each(data.professors, function(index, professor) {
                        $('#professor_idx').append($('<option>', {
                            value: professor.professor_idx,
                            text: professor.name + " (" + professor.hireDate + ")",
                        }));
                    });
                },
                error: function(request, status, error) {
                    console.log('Error: ' + error);
                }
            });
        });
    });
</script>

</body>
</html>
