<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert = "layout/header :: head"></head>
<body>
<header th:insert = "layout/header :: header" ></header>
<div class="container mt-4">
  <h2>강의 등록</h2>
  <hr>

  <div class="w-50 m-auto">
        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">강의명</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">강의소개</span>
            <textarea class="form-control" rows="10"></textarea>
        </div>

        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">수강 학점</span>
            <input type="number" class="form-control">
        </div>

        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">요일</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">시작 시간</span>
            <input type="time" class="form-control">
        </div>

        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">끝 시간</span>
            <input type="time" class="form-control">
        </div>

        
        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">강의 타입</span>
            <input type="text" class="form-control">
        </div>

        
        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">최대 인원</span>
            <input type="number" class="form-control">
        </div>

        
        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">수강자 수</span>
            <input type="number" class="form-control">
        </div>
    
        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">년도/학기</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">학년</span>
            <input type="number" class="form-control">
        </div>
        
        <div class="w-50 m-auto">
            <button type="button" class="btn btn-outline-secondary" style="margin-right: 10px;">등록</button>
            <button type="button" class="btn btn-outline-secondary">취소</button>
        </div>
    </div>
</div>
<footer th:insert="layout/header :: footer"></footer>
</body>
</html>
