<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>

<body>
<header th:insert="layout/header :: header"> </header>
<div class="container mt-3">
    <h2>학생 등록 명단</h2> <p th:text="${students}"></p>
    <p th:text="${message}"></p>
    <hr>
    <form method="post" action="/manager/addStudentList">
        <table class="table table-bordered">
            <tr>
                <th>번호</th>
                <th>학번</th>
                <th>이름</th>
                <th>주민번호</th>
                <th>연락처</th>
                <th>주소</th>
                <th>이메일</th>
                <th>입학일</th>
                <th>학년</th>
                <th>학과번호</th>
                <th>지도교수번호</th>
                <th>수정</th>
            </tr>
            <tr th:each="student, row : ${studentList}">
                <td contenteditable="true" data-field="idx" th:text="${student.idx}"></td>
                <td contenteditable="true" data-field="student_num" th:text="${student.student_num}"></td>
                <td contenteditable="true" data-field="name" th:text="${student.name}"></td>
                <td contenteditable="true" data-field="substring" th:text="${#strings.substring(student.security, 0, 6)} + '-' + ${#strings.substring(student.security, 6)}"></td>
                <td contenteditable="true" data-field="substring" th:text="${#strings.substring(student.pnum,0,3)}+'-'+${#strings.substring(student.pnum,3,7)}+'-'+${#strings.substring(student.pnum,7)}"></td>
                <td contenteditable="true" data-field="address" th:text="${student.address}"></td>
                <td contenteditable="true" data-field="email" th:text="${student.email}"></td>
                <td contenteditable="true" data-field="entranceDate" th:text="${student.entranceDate}"></td>
                <td contenteditable="true" data-field="student_grade" th:text="${student.student_grade}"></td>
                <td contenteditable="true" data-field="major" th:text="${student.major}"></td>
                <td contenteditable="true" data-field="professor" th:text="${student.professor}"></td>
                <td>
                    <button class="btn btn-warning" type="button" onclick="saveChanges(${row.index})">수정</button>
                </td>
            </tr>
        </table>
        <button id="saveBtn" type="button" onclick="saveAllChanges()">학생 전체 등록</button>
    </form>

</div>
<footer th:insert="layout/header :: footer"></footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
   let updatedData = [];

   function saveChanges(index){
       console.log('index : ' + index);
       const formData = new FormData(document.getElementById('studentForm'));
       const studentData = {};
       for(const pair of formData.entries()){
           studentData[pair[0]] = pair[1];
       }
       updatedData[index] =studentData;
       console.log('index : ' + index);
       console.log('studentData : ' + studentData);
       // 수정된 데이터를 화면에 업데이트
       updateScreen();
   }


   function saveAllChanges(){
       sendUpdatedData(updatedData);
   }

   function updateScreen(){
       const tableRows = document.querySelectorAll('table tr');
       updatedData.forEach(function (studentData, index){
           const row = tableRows[index +1];// Header row를 제외한 테이블의 첫 번째 row부터 시작
           for (const field in studentData){
               const cell = row.querySelector('[data-field="' + field + '"]');
               console.log('cell : ' + cell)
               if(cell){
                   cell.textContent = studentData[field];
                   console.log('cell.textContent : ' + cell.textContent)
               }
           }
       })
   }

   function  sendUpdatedData(data){
       console.log('data : ' +data )
       fetch('/manager/addStudentList',{
           method:'POST',
           headers:{
               'Content-Type':'application/json'
           },
           body:JSON.stringify(data)
       })
           .then(response => {
               if(!response.ok){
                   throw new Error('데이터 전송에 실패했습니다.');
               }
               console.log('수정된 데이터가 성공적으로 서버에 전송되었습니다.');
           })
           .catch(error=>{
               console.error('데이터 전송에 실패했습니다.', error);
           })
   }

</script>
</body>
</html>