<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">

<body class="bg-gradient-success">
    <header th:insert = "layout/header :: header" ></header>

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">등록하기</h1>
                            </div>
                            <form class="userForm" method="post" enctype="multipart/form-data" >
                                <div class="form-group row">
                                    <div class="d-flex  justify-content-between col-sm-12 mb-3 mb-sm-0">
<!--                                        <label><input type="radio" name="userType" value="student"-->
<!--                                                onclick="changeForm('student')" checked> 학생 등록</label>-->
                                        <label><input type="radio" name="userType" value="professor"
                                                onclick="changeForm('professor')"> 교수 등록</label>
                                        <label><input type="radio" name="userType" value="manager"
                                                onclick="changeForm('manager')"> 교직원 등록</label>
                                    </div>
                                </div>
                                <div class="form-group row pb-0">
                                    <div class="col-lg-6">

                                        <div class=" form-group text-center">
                                            <img id="imageContainer" src="img/idPhoto.png"
                                                 style="max-height: 100px; max-height: 130px; object-fit: contain;">

                                        </div>
                                        <div class="form-group">
                                            <input type="file" class="form-control form-control-user" name="imageFile" id="imageFile" accept="image/*">
                                        </div>

                                        <div class="form-group" id="majorSection">
                                            <select class="form-control form-control-user" id="major" name="major" >
                                                 <option value="">학과를 선택하세요</option>
                                                <option th:each="major : ${majorList}" th:value="${major.getIdx()}" th:text="${major.getName()}"></option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 pb-0">

                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" name="firstName" id="exampleFirstName"
                                                   placeholder="성" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" name="lastName" id="exampleLastName"
                                                   placeholder="이름" required>
                                        </div>
                                        <div class="form-group">

                                            <input type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" name="email" placeholder="Email" required>
                                        </div>
                                        <div class="form-group pb-0">

                                            <input type="date" class="form-control form-control-user"
                                                   id="hireDate" name="hireDate" required>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="address" id="exampleInputUserid"
                                        placeholder="주소입력" required>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="frontSecurity" name="frontSecurity"
                                            placeholder="주민등록번호 앞자리" pattern="\d{6}" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="backSecurity" name="backSecurity"
                                            placeholder="주민등록번호 뒷자리" pattern="\d{7}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="phonenumber" name="pnum"
                                        placeholder="전화번호" required>
                                </div>

                                <!-- ID field will change based on user type -->

                                <button class="btn btn-primary btn-user btn-block" id="btn-register">
                                    등록하기
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <footer th:insert="layout/header :: footer"></footer>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script>

        var imageFile = document.getElementById('imageFile');
        imageFile.addEventListener('change',previewImage)
        function previewImage(event) {
            var input = event.target;
            var imageContainer = document.getElementById('imageContainer');
            // var imageElement = imageContainer.querySelector('img');
            if(input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function () {
                    imageContainer.src = reader.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }




        $("#frontSecurity, #backSecurity").on("input", function () {    // 주민번호입력확인
            var inputVal = $(this).val();
            // 숫자가 아닌 문자가 포함되어 있는지 확인
            if (/[^\d]/.test(inputVal)) {
                alert("숫자만 입력 가능합니다.");
                // 숫자가 아닌 문자를 모두 제거
                $(this).val(inputVal.replace(/[^0-9]/g, ""));
            }

            // 앞자리는 6자리, 뒷자리는 7자리로 제한
            if (this.id == 'frontSecurity' && $(this).val().length > 6) {
                $(this).val($(this).val().slice(0, 6));
            }
            if (this.id == 'backSecurity' && $(this).val().length > 7) {
                $(this).val($(this).val().slice(0, 7));
            }
        });

        $("#phonenumber").on("input", function () { // 휴대폰번호 검증
            // 숫자만 입력되도록 필터링
            $(this).val($(this).val().replace(/[^0-9]/g, ""));
            // 010이 이미 입력되어있는 상태에서 추가적으로 숫자를 입력받아 '-'를 붙이는 과정
            var inputVal = $(this).val();
            var formatted = inputVal;
            if (inputVal.length > 3) {
                var front = inputVal.substr(0, 3);
                var middle = inputVal.substr(3, 4);
                var back = inputVal.substr(7, 4);
                formatted = front;
                if (middle != "") {
                    formatted += "-" + middle;
                }
                if (back != "") {
                    formatted += "-" + back;
                }
            }
            $(this).val(formatted);
        });




        function changeForm(userType) {
            const form = document.querySelector(".userForm");
            const majorSection = document.getElementById("majorSection");
            const backSecurityInput = document.getElementById('backSecurity');
            // var selectedOption = document.getElementById("major");

            // 이 부분에서 form의 method를 "POST"로 설정합니다.
            form.method = "POST";

            if (userType === 'professor') {
                form.action = "/manager/addProfessor";
                majorSection.style.display = "block"; // 학과 선택 부분 보이기

                const selectMajor = document.getElementById("major");
                selectMajor.required = true;

            } else if (userType === 'manager') {
                form.action = "/manager/addManager";
                majorSection.style.display = "none"; // 학과 선택 부분 숨기기
            }

            // 주민등록번호 뒷자리 input 요소에 autocomplete 속성 추가
            backSecurityInput.setAttribute('autocomplete', 'current-password');

        }

        var btnRegister = document.getElementById('btn-register');
        btnRegister.addEventListener('click', submitForm);

        function submitForm() {
            const form = document.querySelector(".userForm");
            const formData = new FormData(form);
            const userType = document.querySelector('input[name="userType"]:checked').value;
            var imageFile = document.getElementById("imageFile").files[0];
            const major = document.getElementById("major").value;


            // 폼 데이터 생성
            formData.set("userType", userType);
            // if (imageFile === undefined) {
            //     imageFile = null;
            // }
            formData.append("imageFile", imageFile);
            formData.append("firstName", document.getElementById("exampleFirstName").value);
            formData.append("lastName", document.getElementById("exampleLastName").value);
            formData.append("email", document.getElementById("exampleInputEmail").value);
            formData.append("address", document.getElementById("exampleInputUserid").value);
            formData.append("frontSecurity", document.getElementById("frontSecurity").value);
            formData.append("backSecurity", document.getElementById("backSecurity").value);
            formData.append("pnum", document.getElementById("phonenumber").value);
            formData.append("hireDate", document.getElementById("hireDate").value);
            formData.append("major", major);


            // form 내용 확인을 위한 콘솔 코드 추가
            console.log("폼 내용 확인:");
            console.log("name:",document.getElementById("exampleFirstName").value);
            console.log("userType:", userType);
            console.log("imageFile:", imageFile);
            console.log("major:", major);


            // fetch API를 사용하여 Ajax 요청을 보냄
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                // body: JSON.stringify(Object.fromEntries(formData))
                body: formData
            })
                .then(response => {
                    const contentType = response.headers.get('content-type');
                    if (contentType && contentType.includes('application/json')) {
                        // 서버 응답이 JSON 형식인 경우
                        return response.json();
                    } else{
                        // 서버 응답이 JSON 형식이 아닌 경우
                        throw new Error('서버 응답이 JSON 형식이 아닙니다.');
                    }
                    /*if (!response.ok) {
                        console.log(response.headers)
                        console.log(response.ok)
                        console.log(response.url)
                        console.log(response.statusText)
                        console.log(response.body)
                        console.log(response.formData())
                        console.error('서버 측에서 오류 발생:', response.statusText);
                        console.error('서버 측에서 오류 발생:', response.status);
                        throw new Error('Network response was not ok');
                    }*/
                    console.log("1차 then")
                    return response.json(); // 응답을 JSON 형식으로 파싱하여 반환
                })
                .then(data => {
                    if (data.message) {
                        console.log('등록 메시지:', data.message);
                        if (data.message === "폼 등록이 완료되었습니다.") {
                            alert(data.name + '님이 ' + data.type + '으로 등록 되었습니다');
                            const additionalRegistration = confirm('추가로 등록하시겠습니까?');
                            if (additionalRegistration) {
                                console.log("추가 등록을 진행합니다.");
                                window.location.href = '/manager/register';
                            } else {
                                console.log("추가 등록을 취소합니다.");
                                window.location.href = '/home';
                            }
                        } else {
                            alert("폼 등록이 실패하였습니다. 오류 메시지: " + data.message);
                            window.location.href = '/manager/register';
                        }
                    } else {
                        console.error('올바른 응답 형식이 아닙니다.');
                        window.location.href = '/manager/register';
                    }
                })
                .catch(error => {
                    console.error('폼 등록이 실패하였습니다:', error.message);
                    window.location.href = '/manager/register';
                });
        }
    </script>

</body>

</html>