<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert = "layout/header :: head"></head>
<body>
<header th:insert = "layout/header :: header"></header>
<div class="container mt-4">
  <h2>학과 등록</h2>
  <hr>

  <div class="w-50 m-auto">
        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">학과명</span>
            <input type="text" class="form-control">
        </div>

        <div class="input-group input-group-sm mb-3" style="width: 70%;">
            <span class="input-group-text" style="width: 20%;">등록금</span>
            <input type="number" class="form-control">
        </div>
        
        <div class="w-50 m-auto">
            <button type="button" class="btn btn-outline-secondary" style="margin-right: 10px;">등록</button>
            <button type="button" class="btn btn-outline-secondary">취소</button>
        </div>
    </div>
</div>
<footer th:insert = "layout/header :: footer"></footer>
</body>
</html>
