<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>

<body>
<header th:insert="layout/managerHeader :: header"> </header>
<div class="container mt-5 min-height">
    <h2>상태 기록</h2>
    <hr>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>시작일</th>
            <th>종료일</th>
            <th>상태</th>
        </tr>

        <tr th:each="row : ${situationRecord}">
            <td th:text="${row.start_date}"></td>
            <td th:text="${row.end_date != null ? row.end_date : '-'}"></td>
            <td th:text="${row.student_status}"></td>
        </tr>

    </table>
    <a href="/manager/studentSituation"><button class="btn btn-primary">목록으로</button></a>
</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

</body>
</html>