<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>
<body>
<header th:insert="layout/managerHeader :: header"></header>
<div class="container mt-5 min-height">
    <h2>학생 명단</h2>
    <hr>
    <form id="searchForm" th:action="@{/manager/studentList}" class="form-inline">
        <div class="form-group">
            <label>학과명</label>
            <select class="form-control" id="major_idx" name="major_idx">
                <option value="">학과를 선택하세요.</option>
                <option th:each="row : ${majorList}"
                        th:text="${row.name}"
                        th:value="${row.idx}"
                        th:selected="${map.major_idx != null and map.major_idx == row.idx}">
                </option>
            </select>
        </div>

        <!-- 이름으로 검색할 수 있는 검색창 추가 -->
        <div class="form-group ml-4 mr-2">
            <label>이름</label>
            <input type="text" class="form-control" name="name" placeholder="학생 이름을 입력하세요" th:value="${map.name}">
        </div>

        <div class="form-check form-check-inline">
            <input type="hidden" id="todayRegistered" name="todayRegistered" value="false">
            <input class="form-check-input" type="checkbox" id="todayRegisteredCheckbox"
                   th:checked="${map['todayRegistered']}">
            <label class="form-check-label" for="todayRegisteredCheckbox">오늘 등록한 학생 보기</label>
        </div>
        <button class="btn btn-primary" onclick="updateHiddenInput()">검색</button>
    </form>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="stuNum" order="1">학번<span class="order"></span></th>
            <th class="name" order="1">이름<span class="order"></span></th>
            <th class="major" order="1">학과<span class="order"></span></th>
            <th>연락처</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${studentList}">
            <td class="stuNum"><a th:href="@{'/manager/studentView/' + ${row.idx}}" th:text="${row.student_num}"></a>
            </td>
            <td class="name" th:text="${row.name}"></td>
            <td class="major" th:text="${row.major_name}"></td>
            <td th:text="${row.pnum}"></td>
        </tr>
        <tr th:if="${studentList == null || studentList.isEmpty()}">
            <td colspan="4" class="text-center">검색 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <a href="/manager/addStudent"><button class="btn btn-facebook">학생 등록</button></a>
    <a href="/manager/studentList"><button class="btn btn-facebook" th:if="${!#strings.isEmpty(map['major_idx']) or !#strings.isEmpty(map['name']) or !#strings.isEmpty(map['todayRegistered'])}">목록으로</button></a>

    <div class="m-auto mt-3" style="width: fit-content" th:if="${studentList.totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:if="${studentList.hasPrevious && ((studentList.number / 5) - 1) * 5 >= 0}">
                <a th:href="@{/manager/studentList(page=${((studentList.number / 5) - 1) * 5})}">
                    <button class="page-link" th:text="'<<'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${studentList.hasPrevious}">
                <a th:href="@{/manager/studentList(page=${studentList.number - 1})}">
                    <button class="page-link" th:text="'<'"></button>
                </a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, studentList.totalPages - 1)}"
                th:if="${i / 5 == studentList.number / 5}">
                <a th:href="@{/manager/studentList(page=${i})}">
                    <button class="page-link" disabled style="background-color: rgba(128, 128, 128, 0.5)"
                            th:if="${studentList.number == i}" th:text="${i + 1}"></button>
                </a>
                <a th:href="@{/manager/studentList(page=${i})}">
                    <button class="page-link" th:unless="${studentList.number == i}" th:text="${i + 1}"></button>
                </a>
            </li>

            <li class="page-item" th:if="${studentList.hasNext}">
                <a th:href="@{/manager/studentList(page=${studentList.number + 1})}">
                    <button class="page-link" th:text="'>'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${studentList.hasNext && studentList.totalPages - 1 >= ((studentList.number / 5) + 1) * 5}">
                <a th:href="@{/manager/studentList(page=${((studentList.number / 5) + 1) * 5})}">
                    <button class="page-link" th:text="'>>'"></button>
                </a>
            </li>
        </ul>
    </div>

</div>
<footer th:insert="layout/managerHeader :: footer"></footer>


<script>
    function updateHiddenInput() {
        var checkbox = document.getElementById('todayRegisteredCheckbox');
        var hiddenInput = document.getElementById('todayRegistered');

        if (checkbox.checked) {
            hiddenInput.value = 'true';
        } else {
            hiddenInput.value = 'false';
        }
    }

    function isNumeric(str) {
        return !isNaN(str)  // NaN(Not A Number), isNaN은 숫자가 아닐 때 true를 반환한다
    }

    const tbody = document.querySelector('tbody')
    // th를 클릭하면 각 클래스의 이름을 기준으로 정렬하기
    const thList = document.querySelectorAll('th')

    function sortHandler(event) {
        // 클릭당한 th의 className을 불러온다
        const className = event.target.className

        // 클릭당한 th의 order 속성값을 정수로 불러온다
        const order = +event.target.getAttribute('order')
        // alert(order)

        // 클릭당한 th 내부의 span을 불러온다(모든 span에 대해서 글자를 지우고 수행한다)
        document.querySelectorAll('thead span.order').forEach(span => span.innerText = '')
        const span = event.target.querySelector('span.order')
        span.innerText = order > 0 ? ' ▲' : ' ▼'

        const trArray = Array.from(document.querySelectorAll('tbody > tr'))

        trArray.sort((a, b) => {
            let valueA = a.querySelector('.' + className).innerText
            let valueB = b.querySelector('.' + className).innerText
            if (isNumeric(valueA) && isNumeric(valueB)) {
                valueA = +valueA
                valueB = +valueB
            }
            let result = valueA > valueB ? 1 : -1
            event.target.setAttribute('order', order * -1)
            return result * order
        })
        trArray.forEach(tr => tbody.appendChild(tr))
    }

    thList.forEach(th => th.onclick = sortHandler)
</script>


<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let major_idx = /*[[${map['major_idx']}]]*/ null;
        let name = /*[[${map['name']}]]*/ null;
        let todayRegistered = /*[[${map['todayRegistered']}]]*/ null;

        $('.pagination a').on('click', function (event) {
            event.preventDefault();

            let href = $(this).attr('href');

            if (major_idx !== null) {
                href += '&major_idx=' + encodeURIComponent(major_idx);
            }
            if (name !== null) {
                href += '&name=' + encodeURIComponent(name);
            }
            if (todayRegistered !== null) {
                href += '&todayRegistered=' + todayRegistered;
            }
            location.href = href;
        });
    });
    /*]]>*/
</script>
</body>
</html>