<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>

<body>
<header th:insert="layout/managerHeader :: header"> </header>
<div class="container mt-3">
    <h2>학생 명단</h2>
    <hr>
    <form th:action="@{/manager/studentList}" class="form-inline">
        <div class="form-group">
            <label>학과명</label>
            <select class="form-control" id="major_idx" name="major_idx">
                <option value="">학과를 선택하세요.</option>
                <option th:each="row : ${majorList}"
                        th:text="${row.name}"
                        th:value="${row.idx}">
                </option>
            </select>
        </div>

        <!-- 이름으로 검색할 수 있는 검색창 추가 -->
        <div class="form-group ml-4 mr-2">
            <label>이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="학생 이름을 입력하세요">
        </div>
        <button class="btn btn-primary">검색</button>
    </form>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>학번</th>
            <th>이름</th>
            <th>학과</th>
            <th>연락처</th>
        </tr>

        <tr th:each="row : ${studentList}">
            <td><a th:href="@{'/manager/studentView/' + ${row.idx}}" th:text="${row.student_num}"></a></td>
            <td th:text="${row.name}"></td>
            <td th:text="${row.major_name}"></td>
            <td th:text="${row.pnum}"></td>
        </tr>

        <tr th:if="${studentList == null || studentList.isEmpty()}">
            <td colspan="4" class="text-center">검색 결과가 없습니다.</td>
        </tr>
    </table>
    <a href="/manager/addStudent"><button class="btn btn-facebook">학생 등록</button></a>
    <a href="/manager/studentList"><button class="btn btn-facebook" th:if="${!#strings.isEmpty(map['major_idx']) or !#strings.isEmpty(map['name'])}">목록으로</button></a>

    <div class="d-flex justify-content-center">
        <nav style="text-align: center;" th:if="${studentList != null && !studentList.isEmpty()}">
            <ul class="pagination">
                <li class="mx-2" th:if="${start > 1}">
                    <a th:href="@{/manager/studentList(page=0)}" th:text="'<<'"></a>
                </li>
                <li class="mx-2" th:if="${start > 1}">
                    <a th:href="@{/manager/studentList(page=${start - maxPage})}" th:text="'<'"></a>
                </li>

                <li class="mx-2"  th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:text="${page}"
                       th:if="${num != page}"
                       th:href="@{/manager/studentList(page=${page - 1})}"></a>
                    <a th:text="${page}"
                       th:if="${num == page}" disabled="true"></a>
                </li>

                <li class="mx-2" th:if="${end < studentList.totalPages}">
                    <a th:href="@{/manager/studentList(page=${start + maxPage})}" th:text="'>'"></a>
                </li>
                <li class="mx-2" th:if="${end < studentList.totalPages}">
                    <a th:href="@{/manager/studentList(page=${studentList.totalPages - 1})}" th:text="'>>'"></a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let major_idx = /*[[${map['major_idx']}]]*/ null;
        let name = /*[[${map['name']}]]*/ null;

        $('.pagination a').on('click', function (event) {
            event.preventDefault();

            let href = $(this).attr('href');

            if (major_idx !== null) {
                href += '&major_idx=' + encodeURIComponent(major_idx);
            }
            if (name !== null) {
                href += '&name=' + encodeURIComponent(name);
            }
            location.href = href;
        });
    });
    /*]]>*/
</script>
</body>
</html>