<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>

<body>
<header th:insert="layout/header :: header"> </header>
<div class="container mt-3">
    <h2>신청 현황</h2>
    <hr>
    <form th:action="@{/manager/studentSituation}">
        <!-- 학생의 상태로 검색할 수 있는 검색창 추가 -->
        <div class="form-group mr-2">
            <label for="status">상태 검색</label>
            <input type="text" class="form-control" id="status" name="status" placeholder="상태를 입력하세요.">
        </div>

        <button class="btn btn-primary">검색</button>
    </form>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>학생</th>
            <th>전공</th>
            <th>상태</th>
        </tr>

        <tr th:each="row : ${studentList}">
            <td th:text="${row.name}"></td>
            <td th:text="${row.major}"></td>
            <td th:text="${row.status}"></td>
            <td><button class="btn btn-warning"><a th:href="@{/manager/studentSituationView/{idx}(idx=${row.idx})}">수정</a></button></td>
<!--            <td><button class="btn btn-danger" onclick="confirmDelete(event)"><a th:href="@{/manager/majorDelete/{idx}(idx=${item.idx})}">삭제</a></button></td>-->
        </tr>

        <!-- 검색 결과가 없는 경우 메시지 표시 -->
        <tr th:unless="${studentList.size() > 0}">
            <td colspan="4" style="text-align: center;">검색 결과가 없습니다.</td>
        </tr>
    </table>
    <button class="btn btn-facebook"><a href="/manager/registerMajor">학과 등록</a></button>
    <button class="btn btn-facebook" th:if="${!#strings.isEmpty(majorName) or !#strings.isEmpty(collegeIdx)}"><a href="/manager/majorList">목록으로</a></button>
</div>
<footer th:insert="layout/header :: footer"></footer>

</body>
</html>