<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>

<body>
<header th:insert="layout/managerHeader :: header"></header>
<div class="container mt-3 min-height">
    <h2>학생 상세 정보</h2>
    <hr>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" th:action="@{'/manager/studentUpdateByManager/' + ${student.idx}}">
                <table class="table table-bordered">
                    <tr>
                        <th>이름</th>
                        <td><input th:value="${student.name}" type="text" name="name"></td>
                    </tr>
                    <tr>
                        <th>학번</th>
                        <td><input th:value="${student.student_num}" type="number" name="student_num"></td>
                    </tr>
                    <tr>
                        <th>학과</th>
                        <td>
                            <select class="form-control" id="major_idx" name="major_idx">
                                <option th:text="${student.major_name}" th:value="${student.major_idx}"></option>
                                <option th:each="row : ${majorList}"
                                        th:text="${row.name}"
                                        th:value="${row.idx}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td><input th:value="${student.email}" type="text" name="email"></td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td><input th:value="${student.address}" type="text" name="address"></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td><input th:value="${student.pnum}" type="text" name="pnum"></td>
                    </tr>
                    <tr>
                        <th>입학일</th>
                        <td><input th:value="${student.entranceDate}" type="date" name="entranceDate"></td>
                    </tr>
                </table>
                <button class="btn btn-warning">수정</button>
                <a href="/manager/studentList"><button class="btn btn-warning" type="button">취소</button></a>
            </form>
        </div>
    </div>
</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

</body>
</html>