<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>

<body>
<header th:insert="layout/header :: header"> </header>
<div class="container mt-3">
    <h2>학생 상태 수정</h2>
    <hr>
    <form th:action="@{/manager/studentSituationUpdate/{idx}(idx=${situation.idx})}">
        <table class="table table-bordered">
            <tr>
                <th>학생</th>
                <td th:text="${situation.name}"></td>
            </tr>
            <tr>
                <th>학과</th>
                <td th:text="${situation.major}"></td>
            </tr>
            <tr>
                <th>시작일</th>
                <td>
                    <input type="date" th:value="${start}" name="start">
                </td>
            </tr>
            <tr th:if="${end != null}">
                <th>종료일</th>
                <td th:text="${end}">
                    <input type="date" th:value="${end}" name="end">
                </td>
            </tr>
            <tr>
                <th>상태</th>
                <td th:text="${situation.status}"></td>
            </tr>
        <tr>
            <td th:colspan="2">
                <div class="d-flex">
                    <div class="radio-option mr-5">
                        <input type="radio" id="radio1" name="status" value="군휴학">
                        <label for="radio1">군휴학</label>
                    </div>

                    <div class="radio-option mr-5">
                        <input type="radio" id="radio2" name="status" value="일반휴학">
                        <label for="radio2">일반휴학</label>
                    </div>

                    <div class="radio-option mr-5">
                        <input type="radio" id="radio3" name="status" value="재학">
                        <label for="radio3">재학</label>
                    </div>

                    <div class="radio-option">
                        <input type="radio" id="radio4" name="status" value="복학">
                        <label for="radio4">복학</label>
                    </div>

                    <div class="radio-option">
                        <input type="radio" id="radio5" name="status" value="편입">
                        <label for="radio5">편입</label>
                    </div>

                    <div class="radio-option mr-5">
                        <input type="radio" id="radio6" name="status" value="졸업">
                        <label for="radio6">졸업</label>
                    </div>
                </div>
            </td>
        </tr>
        </table>
        <button class="btn btn-primary">수정 완료</button>
        <button class="btn btn-primary"><a th:href="@{/manager/studentSituation}">취소</a></button>

    </form>
</div>
<footer th:insert="layout/header :: footer"></footer>
</body>
</html>
