<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/managerHeader :: head">
</head>

<body>
<header th:insert="layout/managerHeader :: header"> </header>
<div class="container mt-3 min-height">
    <h2>신청 현황</h2>
    <hr>
    <form th:action="@{/manager/studentSituation}">
        <!-- 학생의 상태로 검색할 수 있는 검색창 추가 -->
        <div class="form-group mr-2">
            <label for="status">상태 검색</label>
            <input type="text" class="form-control" id="status" name="status" placeholder="상태를 입력하세요.">
        </div>

        <button class="btn btn-primary">검색</button>
    </form>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>학번</th>
            <th>학생</th>
            <th>전공</th>
            <th>상태</th>
            <th colspan="2"></th>
        </tr>

        <tr th:each="row : ${studentList}">
            <td th:text="${row.student_num}"></td>
            <td><a th:text="${row.name}" th:href="@{'/manager/situationRecord/' + ${row.student_idx}}"></a></td>
            <td th:text="${row.major}"></td>
            <td th:text="${row.status}"></td>
            <td><a th:href="@{/manager/studentSituationView/{idx}(idx=${row.idx})}"><button class="btn btn-warning">수정</button></a></td>
        </tr>

        <!-- 검색 결과가 없는 경우 메시지 표시 -->
        <tr th:if="${studentList == null || studentList.isEmpty()}">
            <td colspan="4" style="text-align: center;">검색 결과가 없습니다.</td>
        </tr>
    </table>
    <a href="/manager/studentSituation"><button class="btn btn-primary" th:if="${!#strings.isEmpty(status)}">목록으로</button></a>

    <div class="m-auto mt-3" style="width: fit-content" th:if="${studentList.totalPages > 1}">
        <ul class="pagination">
            <li class="page-item" th:if="${studentList.hasPrevious && ((studentList.number / 5) - 1) * 5 >= 0}">
                <a th:href="@{/manager/studentSituation(page=${((studentList.number / 5) - 1) * 5})}">
                    <button class="page-link" th:text="'<<'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${studentList.hasPrevious}">
                <a th:href="@{/manager/studentSituation(page=${studentList.number - 1})}">
                    <button class="page-link" th:text="'<'"></button>
                </a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, studentList.totalPages - 1)}"
                th:if="${i / 5 == studentList.number / 5}">
                <a th:href="@{/manager/studentSituation(page=${i})}">
                    <button class="page-link" disabled style="background-color: rgba(128, 128, 128, 0.5)"
                            th:if="${studentList.number == i}" th:text="${i + 1}"></button>
                </a>
                <a th:href="@{/manager/studentSituation(page=${i})}">
                    <button class="page-link" th:unless="${studentList.number == i}" th:text="${i + 1}"></button>
                </a>
            </li>

            <li class="page-item" th:if="${studentList.hasNext}">
                <a th:href="@{/manager/studentSituation(page=${studentList.number + 1})}">
                    <button class="page-link" th:text="'>'"></button>
                </a>
            </li>

            <li class="page-item" th:if="${studentList.hasNext && studentList.totalPages - 1 >= ((studentList.number / 5) + 1) * 5}">
                <a th:href="@{/manager/studentSituation(page=${((studentList.number / 5) + 1) * 5})}">
                    <button class="page-link" th:text="'>>'"></button>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer th:insert="layout/managerHeader :: footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        let status = /*[[${status}]]*/ null;

        $('.pagination a').on('click', function (event) {
            event.preventDefault();

            let href = $(this).attr('href');

            if (status !== null) {
                href += '&status=' + encodeURIComponent(status);
            }
            location.href = href;
        });
    });
    /*]]>*/
</script>

</body>
</html>