<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 전체 강의 리스트 -->
<head th:insert="layout/professorHeader :: head"></head>
<body>
<header th:insert="layout/professorHeader :: header"></header>
<main>
    <div style="width: 70%">
        <form id="MyLectureSearchForm" method="POST">
            <label>학과 선택 :
                <select name="major">
                    <option th:text="'전공 선택'" value="">전공 선택</option>
                    <option th:each="major : ${MajorList}" th:value="${major}" th:text="${major}"></option>
                </select>
            </label>
            <label>강의 타입 :
                <select name="type" th:default="'강의 형태'">
                    <option th:text="'강의 형태'" value=""></option>
                    <option th:text="'전공 필수'" th:value="전공필수"></option>
                    <option th:text="'전공 선택'" th:value="전공선택"></option>
                    <option th:text="'필수 교양'" th:value="필수교양"></option>
                    <option th:text="'선택 교양'" th:value="선택교양"></option>
                </select>
            </label>
            <label>기간 :
                <select name="year">
                    <option th:text="년도" value=""></option>
                    <option th:each="year : ${YearList}" th:value="${year}" th:text="${year} + '년'"></option>
                </select>
                <select name="semester">
                    <option th:text="학기" value=""></option>
                    <option th:text="1학기" th:value="1"></option>
                    <option th:text="2학기" th:value="2"></option>
                </select>
            </label>
            <label>학년 :
                <select name="grade">
                    <option th:text="학년" value=""></option>
                    <option th:each="grade : ${GradeList}" th:value="${grade}" th:text="${grade} + '학년'"></option>
                </select>
            </label>
            <label>검색어 :
                <input id="MySearchInput" name="name" type="text">
            </label>
            <button type="button" onclick="searchLectures()">검색</button>
            <input type="reset" value="초기화" onclick="resetAndSearch()">
            <label>폐강된 강의 포함
                <input id="viewAbolition" name="isAbolition" type="checkbox" value="isAbolition">
            </label>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>
                <div th:text="강의명">제목열1</div>
            </td>
            <td>
                <div th:text="전공">제목열2</div>
            </td>
            <td>
                <div th:text="'강의 타입'">제목열3</div>
            </td>
            <td>
                <div th:text="'수강 학점'">제목열4</div>
            </td>
            <td>
                <div th:text="'강의 시간'">x요일 xx:xx ~ xx:xx, x요일 xx:xx ~ xx:xx</div>
            </td>
            <td>
                <div th:text="'수강 인원'">현재 수강자 수 / 최대 인원 수</div>
            </td>
            <td>
                <div th:text="'강의 학기'">xxxx년 x학기</div>
            </td>
            <td>
                <div th:text="학년">제목열8</div>
            </td>
            <td>
                <div th:text="강의실">제목열9</div>
            </td>
            <td>
                <div th:text="'강의 평가 보기'">현재 시간 이전만 평가가 완료된 거니까 현재 년도 분기 이전만 버튼 만들기</div>
            </td>
            <td>
                <div th:text="'성적 입력'">제목열11</div>
            </td>
        </tr>
        </thead>
        <tbody id="MyLectureTableBody">
        <tr th:each="row : ${MyList}">
            <td>
                <div>
                    <a th:href="@{'/professor/viewLecture/' + ${row.idx}}">
                        <span th:if="${row.abolition.equals('N')}" th:text="${row.name}"></span>
                    </a>
                    <span th:unless="${row.abolition.equals('N')}" th:text="${row.name} + '(폐강)'"></span>
                </div>
            </td>
            <td>
                <div>
                    <span th:text="${row.major}"></span>
                </div>
            </td>
            <td>
                <div>
                    <span th:text="${row.type}"></span>
                </div>
            </td>
            <td>
                <div>
                    <span th:text="${row.credit}"></span>
                </div>
            </td>
            <td>
                <div>
                    <span th:text="${row.day}"></span>
                </div>
            </td>
            <td>
                <div>
                    <span th:text="${row.currentCount} + '/' + ${row.maxCount}"></span>
                </div>
            </td>
            <td>
                <div>
                    <span th:text="${row.semester}" class="semesterValue"></span>
                </div>
            </td>
            <td>
                <div>
                    <span th:text="${row.grade} + '학년'"></span>
                </div>
            </td>
            <td>
                <div>
                    <span th:text="${row.location} + ' ' + ${row.lectureRoom}"></span>
                </div>
            </td>
            <td class="viewEvaluationBtnTd" th:data-lecture-idx="${row.idx}"
                th:data-professor_idx="${row.professor_idx}">
            </td>
            <td>
                <button class="btn btn-info btn-lg" data-target="#enrollmentStuList" data-toggle="modal"
                        onclick="openEnrollmentModal(this)"
                        th:data-lecture-idx="${row.idx}" type="button">성적 입력
                </button>
            </td>
        </tr>
        <tr th:if="${MyList == null or MyList.isEmpty()}">
            <td colspan="11">검색 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>

    <script>
        function handleKeyDown(event) {
            // 엔터 키의 keyCode는 13입니다.
            if (event.keyCode === 13) {
                event.preventDefault(); // 엔터 키의 기본 동작을 막습니다.
                searchLectures();
            }
        }

        document.getElementById("MySearchInput").addEventListener("keydown", handleKeyDown);

        async function searchLectures() {
            var form = document.getElementById("MyLectureSearchForm");

            // form 엘리먼트가 올바르게 식별되었는지 확인
            if (!form) {
                console.error('Form 엘리먼트를 찾을 수 없습니다.');
                return;
            }

            var formData = new FormData(form);

            await fetch('/professor/myLecture/data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Object.fromEntries(formData))
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('네트워크 응답이 정상이 아닙니다');
                    }
                    return response.json();
                })
                .then(data => {
                    // 서버 응답을 받은 후에 테이블 업데이트
                    updateTableBody(data);
                })
                .catch(error => {
                    console.error('에러:', error);
                });
        }

        function updateTableBody(data) {
            var tbody = document.getElementById("MyLectureTableBody");

            // 기존 행 삭제 (기존 데이터를 모두 지우고 새로운 데이터를 추가할 것이므로)
            tbody.innerHTML = "";

            if (!data || data.length === 0) {
                tbody.innerHTML = '<tr><td colspan="11" style="text-align: center;"><div><span>검색된 결과가 없습니다.</span></div></td></tr>';
            } else {
                // 서버 응답을 이용하여 여러 행 추가
                data.forEach(item => {
                    var tr = document.createElement("tr");

                    // 각 열에 대한 데이터 추가
                    appendTd(tr, item.name + '_' + item.abolition, 1, `/professor/viewLecture/${item.idx}`);
                    appendTd(tr, item.major);
                    appendTd(tr, item.type);
                    appendTd(tr, item.credit);
                    appendTd(tr, item.day);
                    appendTd(tr, `${item.currentCount}/${item.maxCount}`);
                    appendTd(tr, item.semester, 2, 'semesterValue');
                    appendTd(tr, `${item.grade}학년`);
                    appendTd(tr, `${item.location} ${item.lectureRoom}`);
                    appendTd(tr, item.idx + '_' + item.professor_idx, 3, 'viewEvaluationBtnTd');
                    appendTd(tr, item.idx, 4);

                    tbody.appendChild(tr);
                    addEvaluationBtn();
                });
            }
        }

        // 특정 데이터를 <td>에 추가하는 함수
        function appendTd(parent, text, checked = 0, checkValue = "") {
            var td = document.createElement("td");
            var div = document.createElement("div");
            var span = document.createElement("span");

            switch (checked) {
                case 1:
                    var a = document.createElement("a");
                    a.href = checkValue;
                    a.appendChild(span);
                    div.appendChild(a);

                    let split = text.split('_');
                    if (split[1] == 'N') {
                        span.textContent = split[0];
                    } else {
                        span.textContent = split[0] + '(폐강)';
                    }
                    td.appendChild(div);
                    break;
                case 2:
                    td.classList.add(checkValue);
                    div.appendChild(span);
                    span.textContent = text;
                    td.appendChild(div);
                    break;
                case 3:
                    td.classList.add(checkValue);
                    let lecture_idx = text.split('_')[0];
                    let professor_idx = text.split('_')[1];
                    td.setAttribute('data-lecture-idx', lecture_idx);
                    td.setAttribute('data-professor_idx', professor_idx);
                    break;
                case 4:
                    var button = document.createElement("button");
                    button.className = "btn btn-info btn-lg"; // 클래스 추가
                    button.setAttribute('data-target', '#enrollmentStuList');
                    button.setAttribute('data-toggle', 'modal');
                    button.setAttribute('type', 'button');
                    button.setAttribute('data-lecture-idx', text);
                    button.textContent = "성적 입력"; // 버튼 텍스트 추가
                    button.addEventListener('click', function () {
                        openEnrollmentModal(this);
                    });
                    td.appendChild(button);
                    break;
                default:
                    div.appendChild(span);
                    span.textContent = text;
                    td.appendChild(div);
            }
            parent.appendChild(td);
        }

        function resetAndSearch() {
            document.getElementById("MyLectureSearchForm").reset();
            searchLectures();
        }

        function addEvaluationBtn() {
            // 모든 .viewEvaluationBtnTd 클래스를 가진 요소를 선택
            var tdElements = document.querySelectorAll('.viewEvaluationBtnTd');
            var semesterValues = document.querySelectorAll('.semesterValue');

            // 현재 년도와 월 가져오기
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();
            var currentMonth = currentDate.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줌

            // 각 요소에 대해 반복
            tdElements.forEach(function (tdElement, index) {
                let lectureIdx = tdElement.getAttribute("data-lecture-idx");
                let professorIdx = tdElement.getAttribute("data-professor_idx");
                tdElement.innerHTML = '';
                // 'xxxx년 x학기'와 같은 형태의 문자열에서 연도와 학기 추출
                var matchResult = semesterValues[index].textContent.match(/(\d{4})년 (\d)학기/);

                // matchResult가 유효하면서 현재 년도 이하이고 버튼을 추가하는 부분
                if (matchResult && matchResult.length === 3) {
                    var semesterYear = parseInt(matchResult[1]);
                    var semesterTerm = parseInt(matchResult[2]);

                    if (!isNaN(semesterYear)) {
                        if (semesterYear === currentYear) {
                            if (semesterTerm === 1) {
                                semesterTerm += 5;
                            } else {
                                semesterTerm += 10;
                            }

                            // semesterTerm이 currentMonth보다 작을 때만 버튼을 추가
                            if (!isNaN(semesterTerm) && semesterTerm <= currentMonth) {
                                addButton(tdElement, lectureIdx, professorIdx);
                            }
                        } else if (semesterYear < currentYear) {
                            addButton(tdElement, lectureIdx, professorIdx);
                        }
                    }
                }
            })
        }

        function addButton(tdElement, lectureIdx, professorIdx) {
            var buttonElement = document.createElement('button');
            buttonElement.textContent = '확인';

            // 버튼에 이벤트 리스너를 추가하고자 하는 경우 아래와 같이 추가할 수 있습니다.
            buttonElement.addEventListener('click', function () {
                // 버튼이 클릭되었을 때 수행할 동작
                location.href = '/professor/viewEvaluation/' + professorIdx + '/' + lectureIdx;
            });

            // td 요소에 버튼을 추가
            tdElement.appendChild(buttonElement);
        }

        document.addEventListener('DOMContentLoaded', addEvaluationBtn);

        let currentOpenButton = null;

        function openEnrollmentModal(button) {
            currentOpenButton = button;

            let modalBody = document.querySelector('#enrollmentStuList .modal-body');
            modalBody.innerHTML = '<img src="/img/loading.gif" alt="로딩" style="width: 100%;0">'; // 기존 내용을 지우고 새로운 내용으로 업데이트

            // 클릭된 버튼에서 data-row-idx 속성값 가져오기
            var lectureIdx = button.getAttribute('data-lecture-idx');

            fetch("/professor/enrollmentList?lectureIdx=" + lectureIdx)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('네트워크 응답이 정상이 아닙니다');
                    }
                    return response.json();
                })
                .then(data => {
                    // 데이터를 가져왔으면 모달을 열어서 내용을 업데이트
                    updateModalTableBody(modalBody, data);
                })
                .catch(error => {
                    console.error('예외 발생 :', error);
                });
        }

        function updateModalTableBody(modalBody, data) {
            // 수강생 목록 데이터를 테이블 형식으로 가공
            let tableHTML = '<table style="width: 100%;">';
            tableHTML += '<thead><tr><th>학번</th><th>이름</th><th>성적 입력</th></tr></thead>';
            tableHTML += '<tbody>';

            data.forEach(enrollment => {
                let student_idx = enrollment.student_idx;
                let lecture_idx = enrollment.lecture_idx;
                let enrollment_idx = enrollment.idx;
                let hasGrade = enrollment.hasGrade;
                tableHTML += `<tr id="row_${student_idx}_${lecture_idx}"><td><div><span>${enrollment.student_num}</span></div></td>`;
                tableHTML += `<td><div><span>${enrollment.student_name}</span></div></td>`;
                if (hasGrade) {
                    let score = enrollment.score;
                    tableHTML += `<td><button id="button_${student_idx}_${lecture_idx}" onclick="enterGrade('${enrollment_idx}', '${lecture_idx}', '${enrollment_idx}', '${score}')" style="background-color: grey;">수정</button></td></tr>`;
                } else {
                    tableHTML += `<td><button id="button_${student_idx}_${lecture_idx}" onclick="enterGrade('${student_idx}', '${lecture_idx}', '${enrollment_idx}', '${hasGrade}')" style="background-color: rgba(253,46,46,0.5);">성적 입력</button></td></tr>`;
                }
            });

            tableHTML += '</tbody></table>';

            // 모달 내용 업데이트
            modalBody.innerHTML = tableHTML;
        }

        function enterGrade(student_idx, lecture_idx, enrollment_idx, score) {
            let rowId = `row_${student_idx}_${lecture_idx}`;
            let targetRow = document.getElementById(rowId);

            let gradeTr = document.createElement('tr');

            const tdElement = document.createElement('td');
            tdElement.colSpan = 3;
            tdElement.style.textAlign = "center";

            const labelElement = document.createElement('label');
            labelElement.textContent = '성적:';

            const inputElement = document.createElement('input');
            inputElement.type = 'number';
            inputElement.id = 'score';
            inputElement.name = 'score';
            inputElement.step = '0.01';
            inputElement.min = '0';
            inputElement.max = '4.5';
            inputElement.placeholder = '0.00';
            inputElement.value = score || '';
            inputElement.required = true;
            inputElement.style.width = '30%';

            const buttonElement = document.createElement('button');
            buttonElement.textContent = '저장';
            buttonElement.addEventListener('click', () => saveGrade(student_idx, lecture_idx, enrollment_idx));

            tdElement.appendChild(labelElement);
            tdElement.appendChild(inputElement);
            tdElement.appendChild(buttonElement);

            gradeTr.innerHTML = ''; // clear existing content
            gradeTr.appendChild(tdElement);
            // 기존 행 아래에 새로운 행 추가
            targetRow.parentNode.insertBefore(gradeTr, targetRow.nextSibling);
        }

        async function saveGrade(student_idx, lecture_idx, enrollment_idx) {
            let score = document.getElementById('score').value;
            let url = '/professor/saveGrade';

            await fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    enrollment_idx: enrollment_idx,
                    score: score
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('네트워크 응답이 정상이 아닙니다');
                    }
                    return response.json();
                })
                .then(data => {
                    alert(data.msg);
                    if (data.result == 1) {
                        let button = currentOpenButton; // 현재 열려있는 모달을 열었던 버튼
                        openEnrollmentModal(button);
                    }
                })
                .catch(error => {
                    console.error('예외 발생 :', error);
                });

            let rowId = `row_${student_idx}_${lecture_idx}`;
            let targetRow = document.getElementById(rowId);
            targetRow.nextSibling.remove();
        }

        document.getElementById('viewAbolition').addEventListener('change', searchLectures);

        function onPageChange() {
            window.localStorage.setItem("previousUrl", window.location.href);
        }
        window.onload = function () {
            onPageChange();
        }
    </script>
</main>
<footer th:insert="layout/professorHeader :: footer"></footer>
<div>
    <!-- Modal -->
    <div id="enrollmentStuList" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">수강생 목록</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h2>test</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>