<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout/header :: head">
</head>
<body>
<header th:insert="layout/header :: header"></header>
<main>
    <div class="container mt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>강의명</th>
                <td th:if="${lecture.abolition.equals('N')}" th:text="${lecture.name}"></td>
                <td th:unless="${lecture.abolition.equals('N')}" th:text="${lecture.name} + '(폐강)'"></td>
            </tr>

            <tr>
                <th>강의 계획서</th>
                <td th:if="${lecture.plan == null}" class="planExist">
                    <th:block
                            th:if="${session.user != null && session.user.user.role.toString().equals('교수') && session.user.professor_idx == lecture.professor_idx}">
                        <span class="upload-btn" onclick="openFileUploadDialog(this)">미등록</span>
                        <input type="hidden" class="lectureIdx" th:value="${lecture.idx}">
                        <input type="file" class="file-input" onchange="handleFileUpload(this)" style="display: none;">
                    </th:block>
                    <th:block
                            th:unless="${session.user != null && session.user.user.role.toString().equals('교수') && session.user.professor_idx == lecture.professor_idx}">
                        <span>미등록</span>
                    </th:block>
                </td>
                <td th:if="${lecture.plan != null}" class="planExist">
                    <a download th:href="@{'/download/' + ${lecture.plan} + '?saveDir=syllabus'}" th:text="${lecture.plan}"></a>
                    <th:block
                            th:if="${session.user != null && session.user.user.role.toString().equals('교수') && session.user.professor_idx == lecture.professor_idx}">
                        <span class="upload-btn" onclick="openFileUploadDialog(this)">수정</span>
                        <input type="hidden" class="lectureIdx" th:value="${lecture.idx}">
                        <input type="file" class="file-input" onchange="handleFileUpload(this)" style="display: none;">
                    </th:block>
                </td>
            </tr>

            <tr>
                <th>교수</th>
                <td th:text="${lecture.professor_name}"></td>
            </tr>

            <tr>
                <th>강의 소개</th>
                <td th:text="${lecture.intro}"></td>
            </tr>

            <tr>
                <th>전공</th>
                <td th:text="${lecture.major}"></td>
            </tr>

            <tr>
                <th>강의 타입</th>
                <td th:text="${lecture.type}"></td>
            </tr>

            <tr>
                <th>수강 학점</th>
                <td th:text="${lecture.credit}"></td>
            </tr>

            <tr>
                <th>강의 요일</th>
                <td th:text="${lecture.day}"></td>
            </tr>

            <tr>
                <th>시작 시간</th>
                <td th:text="${lecture.start}"></td>
            </tr>

            <tr>
                <th>끝 시간</th>
                <td th:text="${lecture.end}"></td>
            </tr>

            <tr>
                <th>수강 인원</th>
                <td th:text="${lecture.currentCount} + '/' + ${lecture.maxCount}"></td>
            </tr>

            <tr>
                <th>학기</th>
                <td th:text="${lecture.semester}"></td>
            </tr>

            <tr>
                <th>학년</th>
                <td th:text="${lecture.grade}">
                </td>
            </tr>

            <tr>
                <th>강의실</th>
                <td th:text="${lecture.lectureRoom} + '호'">
                </td>
            </tr>

        </table>

        <button class="btn btn-warning" th:if="${session.user.user.role.toString() == '교직원'}"><a th:href="@{'/manager/lectureUpdate/' + ${lecture.idx}}">수정</a></button>
        <button class="btn btn-danger" onclick="confirmDelete(event)" th:if="${session.user.user.role.toString() == '교직원'}">
            <a th:href="@{'/manager/lectureDelete/' + ${lecture.idx}}">삭제</a></button>
        <button class="btn btn-outline-secondary" onclick="Url()">목록으로</button>
    </div>

    <script>
        // 파일 업로드 창 열기
        function openFileUploadDialog(btnElement) {
            var fileInput = btnElement.nextElementSibling.nextElementSibling;
            fileInput.click();
        }

        async function handleFileUpload(inputElement) {
            var fileInput = inputElement;
            var planExist = document.querySelector('.planExist');
            var lectureIdxElement = fileInput.previousElementSibling;

            var lectureIdx = lectureIdxElement.value;

            // 선택된 파일이 있을 경우에만 처리
            if (fileInput.files.length > 0) {
                var selectedFile = fileInput.files[0];

                var formData = new FormData();
                formData.append('plan', selectedFile);
                formData.append('lectureIdx', lectureIdx);

                try {
                    const response = await fetch('/professor/planUpload', {
                        method: 'PUT',
                        body: formData
                    });

                    const data = await response.text();

                    if (data !== undefined) {
                        console.log('업로드 성공');
                        planExist.innerHTML = '';
                        planExist.innerHTML = '<a href="/download/' + encodeURIComponent(data) + '" download>' + data + '</a>';
                        planExist.innerHTML += '<span class="upload-btn" onclick="openFileUploadDialog(this)">수정</span>';
                        planExist.innerHTML += '<input type="hidden" class="lectureIdx" value="' + lectureIdx + '">';
                        planExist.innerHTML += '<input type="file" class="file-input" onchange="handleFileUpload(this)" style="display: none;">';

                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            }
        }
    </script>

    <script>
        function confirmDelete(event) {
            var result = confirm("정말 삭제하시겠습니까?");
            if (result) {

            } else {
                event.preventDefault();
            }
        }

        function Url() {
            var previousUrl = window.localStorage.getItem("previousUrl");

            if(previousUrl) {
                window.location.href = previousUrl;
            }
            else {
                alert('잘못된 주소!');
            }
        }
    </script>

</main>
<footer th:insert="layout/header :: footer"></footer>
</body>
</html>