<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/header :: head">
</head>
<body>
<!--header/footer 붙이는 방법-->
<header th:insert="layout/header :: header"></header>
<main>
    <div class="d-flex justify-content-center align-items-start">
        <div class="container my-3">
            <div class="main-img text-center">
                <img class="w-100" src="/img/centum_university.png" alt="오류">
                <!-- 메인 페이지 div-->
                <div class="d-flex justify-content-center align-items-start">
                    <div class="main-page">
                        <div class="d-flex">
                            <!-- 공지 사항 -->
                            <div class="main-notice">
                                <h3>
                                    <a href="/">공지사항</a>
                                </h3>
                                <div class="main-split"></div>
                                <table>
                                    <!-- DB에서 내용 꺼내와서 채워넣기 -->
                                    <tr>
                                        <th style="width: 10%">번호</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td></td>
                                        <td>2024-01-07</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td></td>
                                        <td>2024-01-07</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td></td>
                                        <td>2024-01-07</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td></td>
                                        <td>2024-01-07</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td></td>
                                        <td>2024-01-07</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="main-calendar">
                                <h3>
                                    <a href="/">학사일정</a>
                                </h3>
                                <div class="main-split"></div>
                                <table>
                                    <tr>
                                        <th>글 번호</th>
                                        <th>내용</th>
                                        <th>기간</th>
                                    </tr>
                                    <!-- DB에서 내용 꺼내와서 채워넣기 -->
                                    <tr th:each="calendar : ${calendar}">
                                        <td th:text="${calendar.idx}"></td>
                                        <td th:text="${calendar.title}"></td>
                                        <td th:text="${calendar.start_date} + ' ~ ' + ${calendar.end_date}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--    </div>-->
<footer th:insert="layout/header :: footer"></footer>
</body>
</html>