<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Log-in</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/wave.png">
<img class="wave2" src="/img/index-img.png">
<div class="index_container">
    <div class="img">
        <img src="/img/centum_universitySmall.png">
    </div>
    <div class="login-content">
        <form action="/login" method="post">
            <h2 class="title">환영합니다</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5 id="userIdText">학번/아이디</h5>
                    <!-- 인풋 Id 창-->
                    <input type="text" class="input" name="user_id" id="user_id">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>비밀번호</h5>
                    <!-- 인풋 비번창 -->
                    <input type="password" class="input" name="user_pw" id="user_pw">
                </div>
            </div>
            <div class="i between">
                <label>
                    <input type="checkbox" class="input" name="rememberMe" id="rememberMe">
                    <span>학번 기억하기</Span>
                </label>
                <!-- 나중에 여기 찾기 주소 추가 -->
                <a href="#" data-target="#findPassword" data-toggle="modal">비밀번호 찾기</a>
            </div>
            <input class="btn" type="submit" value="Login">
        </form>

    </div>
</div>
<div class="modal_container ">
    <!-- Modal -->
    <div class="modal fade" id="findPassword" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">비밀번호 재설정</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <form action="/findPassword" id="findPasswordForm" method="post">
                        <div id="findPasswordFirst">
                            <div>
                                <input id="findUser_id" class="form-control formWidth" name="user_id" type="text"
                                       placeholder="학번 또는 ID를 입력하세요">
                            </div>
                            <div class="flex">
                                <input id="exampleInputEmail" class="form-control formWidth" name="email" type="email"
                                       placeholder="이메일을 입력하세요">
                                <button disabled id="email_validation" class="formBtn" type="button">인증번호 발송</button>
                            </div>
                            <div id="checkAuthNumberDiv" class="flex" style="display: none">
                                <input id="inputAuthNumber" class="form-control formWidth" name="inputAuthNumber" oninput="limitToSixDigits(this)"
                                       type="text" placeholder="인증번호를 입력하세요">
                                <button id="checkAuthNumberBtn" class="formBtn" type="button">인증하기</button>
                                <input id="checkAuthNumber" type="hidden">
                            </div>
                        </div>
                        <div id="findPasswordSecond" style="display: none">
                            <label>새 비밀번호를 입력하세요.</label>
                            <input class="form-control form-control-user" id="exampleInputPassword" name="newPassword"
                                   placeholder="변경할 패스워드" type="password">
                            <span class="my-1" id="passwordHelp"></span>
                            <br>
                            <label>새 비밀번호를 다시 입력해주세요.</label>
                            <input class="form-control form-control-user" id="exampleRepeatPassword"
                                   name="repeatPassword" placeholder="변경할 패스워드 확인" type="password">
                            <span class="my-1" id="passwordConfirmHelp"></span>
                            <br>
                            <input class="btn btn-facebook" id="findPasswordBtn"
                                   style="margin-top: 10px;"
                                   type="submit" value="비밀번호 변경하기">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">닫기</button>
                    <!-- 다른 버튼 등을 추가할 수 있음 -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let checkPassword = false;
    let eachPassword = false;

    // 페이지 로딩시 쿠키에서 아이디 읽어오기
    document.addEventListener('DOMContentLoaded', (event) => {
        const user_id = getCookie("user_id");
        if (user_id) {
            document.getElementById("user_id").value = user_id;
            document.getElementById("rememberMe").checked = true;
            document.getElementById("userIdText").style.display = "none";
        }
    });

    // '내 아이디 기억하기' 체크박스 클릭 이벤트
    document.getElementById("rememberMe").addEventListener("change", function() {
        if (this.checked) {
            const date = new Date();
            date.setDate(date.getDate() + 7); // 일주일 후
            document.cookie = `user_id=${document.getElementById("user_id").value};expires=${date.toUTCString()};path=/;`;
        } else {
            document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    });

    // 쿠키에서 이름이 'name'인 값을 가져오는 함수
    function getCookie(name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + name + "=");
        if (parts.length === 2) {
            return parts.pop().split(";").shift();
        }
    }

    window.onload = function () {
        const emailInput = document.getElementById('exampleInputEmail');
        const validationButton = document.getElementById('email_validation');
        const passwordInput = document.getElementById('exampleInputPassword');
        const repeatPasswordInput = document.getElementById('exampleRepeatPassword');
        const passwordHelp = document.getElementById('passwordHelp');
        const passwordConfirmHelp = document.getElementById('passwordConfirmHelp');

        function validateEmail(email) {
            var re = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
            return re.test(String(email).toLowerCase());
        }

        function validatePassword(password) {
            var re = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/;
            return re.test(String(password));
        }

        emailInput.addEventListener('input', function () {
            validationButton.disabled = !validateEmail(emailInput.value);
        });

        passwordInput.addEventListener('focus', function () {
            passwordHelp.innerHTML = "영문/숫자/특수문자를 모두 포함(8자 이상)";
        });
        repeatPasswordInput.addEventListener('focus', function () {
            passwordConfirmHelp.innerHTML = "확인을 위해 새 비밀번호를 다시 입력해주세요."
        });

        passwordInput.addEventListener('input', function () {
            if (validatePassword(passwordInput.value.trim())) {
                passwordHelp.classList.remove('text-danger');
                passwordHelp.classList.add('text-success');
                passwordHelp.innerHTML = "사용 가능한 비밀번호입니다.";
                checkPassword = true;
            } else {
                passwordHelp.classList.remove('text-success');
                passwordHelp.classList.add('text-danger');
                passwordHelp.innerHTML = "영문/숫자/특수문자를 모두 포함(8자 이상)";
                checkPassword = false;
            }
        });

        repeatPasswordInput.addEventListener('input', function () {
            if (passwordInput.value === repeatPasswordInput.value) {
                passwordConfirmHelp.classList.remove('text-danger')
                passwordConfirmHelp.classList.add('text-success');
                passwordConfirmHelp.innerHTML = "새 비밀번호가 일치합니다.";
                eachPassword = true;
            } else {
                passwordConfirmHelp.classList.add('text-danger');
                passwordConfirmHelp.classList.remove('text-success');
                passwordConfirmHelp.innerHTML = "새 비밀번호가 일치하지 않습니다.";
                eachPassword = false;
            }
        });
    }

    document.getElementById('email_validation').addEventListener('click', function (e) {
        e.preventDefault();
        let findUser_id = document.getElementById('findUser_id');
        let emailInput = document.getElementById('exampleInputEmail');
        let url = '/findUserByUser_idAndEmail';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                user_id: findUser_id.value,
                email: emailInput.value
            })
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                alert(data.msg);
                if (data.result !== 0) {
                    document.getElementById('checkAuthNumberDiv').style.display = 'block';
                    document.getElementById('checkAuthNumber').value = data.result;
                } else {
                    findUser_id.value = "";
                    emailInput.value = "";
                }
            })
            .catch(error => {
                console.error('에러:', error);
            });
    });

    function limitToSixDigits(inputElement) {
        // 입력된 값에서 숫자 이외의 문자 제거
        let inputValue = inputElement.value.replace(/\D/g, '');

        // 최대 6자리로 제한
        inputValue = inputValue.substring(0, 6);

        // 제한된 값을 다시 입력 필드에 설정
        inputElement.value = inputValue;
    }

    document.getElementById('checkAuthNumberBtn').addEventListener('click', function () {
        let inputAuthNumber = document.getElementById('inputAuthNumber');
        let checkAuthNumber = document.getElementById('checkAuthNumber');

        if (inputAuthNumber.value === checkAuthNumber.value) {
            document.getElementById('findPasswordFirst').style.display = 'none';
            document.getElementById('findPasswordSecond').style.display = 'block';
        } else {
            alert("인증번호가 일치하지 않습니다.");
        }
    });

    document.getElementById('findPasswordBtn').addEventListener('click', function (e) {
        e.preventDefault();

        const passwordInput = document.getElementById('exampleInputPassword');
        const repeatPasswordInput = document.getElementById('exampleRepeatPassword');

        if (passwordInput.value.trim() !== "" && repeatPasswordInput.value.trim() !== "") {
            if (checkPassword && eachPassword) {
                document.getElementById('findPasswordForm').submit();
            }
        } else {
            if (passwordInput.value.trim() === "" || !checkPassword) {
                const passwordHelp = document.getElementById('passwordHelp');
                passwordHelp.innerHTML = "영문/숫자/특수문자를 모두 포함(8자 이상)";
                passwordHelp.classList.add('text-danger');
            }
            if (repeatPasswordInput.value.trim() === "" || !eachPassword) {
                const passwordConfirmHelp = document.getElementById('passwordConfirmHelp');
                passwordConfirmHelp.innerHTML = "확인을 위해 새 비밀번호를 다시 입력해주세요.";
                passwordConfirmHelp.classList.add('text-danger');
            }
        }
    });
</script>
<script>
    const inputs = document.querySelectorAll(".input");

    function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
    }

    function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }

    inputs.forEach(input => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    const msg = [[${msg}]];

    if (msg != '' && msg != null) {
        alert(msg);
    }

    /*]]>*/
</script>
</body>
</html>