<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Log-in</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/wave.png">
<img class="wave2" src="/img/index-img.png">
<div class="index_container">
    <div class="img">
        <img src="/img/index-logo-img.png">
    </div>
    <div class="login-content">
        <form action="/login" method="post">
            <h2 class="title">환영합니다</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>학번</h5>
                    <!-- 인풋 Id 창-->
                    <input type="text" class="input" name="user_id">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>비밀번호</h5>
                    <!-- 인풋 비번창 -->
                    <input type="password" class="input" name="user_pw">
                </div>
            </div>
            <div class="i between">
                <label>
                    <input type="checkbox" class="input">
                    <span>학번 기억하기</Span>
                </label>
                <!-- 나중에 여기 찾기 주소 추가 -->
                <a href="#" data-target="#findPassword" data-toggle="modal">비밀번호 찾기</a>
            </div>
            <input class="btn" type="submit" value="Login">
        </form>
    </div>
</div>
<div class="modal_container">
    <!-- Modal -->
    <div class="modal" id="findPassword" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">비밀번호 찾기</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 모달 내용 입력 -->
                    비밀번호를 찾는 내용을 입력하세요.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">닫기</button>
                    <!-- 다른 버튼 등을 추가할 수 있음 -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const inputs = document.querySelectorAll(".input");

    function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
    }

    function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }

    inputs.forEach(input => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    const msg = [[${msg}]];

    if (msg != '' && msg != null) {
        alert(msg);
    }

    /*]]>*/
</script>
</body>
</html>