<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <title>Log-in</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/wave.png">
<img class="wave2" src="/img/index-img.png">
<div class="container">
  <div class="img">
    <img src="/img/index-logo-img.png">
  </div>
  <div class="login-content">
    <form action="/login" method="post">
      <h2 class="title">환영합니다</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>학번</h5>
          <!-- 인풋 Id 창-->
          <input type="text" class="input" name="user_id">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>비밀번호</h5>
          <!-- 인풋 비번창 -->
          <input type="password" class="input" name="user_pw">
        </div>
      </div>
      <div class="i between">
        <label>
          <input type="checkbox" class="input">
          <span>학번 기억하기</Span>
        </label>
        <!-- 나중에 여기 찾기 주소 추가 -->
        <a href="#">비밀번호 찾기</a>
      </div>
      <input type="submit" value="Login">
    </form>
  </div>
</div>
<script>
  const inputs = document.querySelectorAll(".input");

  function addcl(){
    let parent = this.parentNode.parentNode;
    parent.classList.add("focus");
  }

  function remcl(){
    let parent = this.parentNode.parentNode;
    if(this.value == ""){
      parent.classList.remove("focus");
    }
  }

  inputs.forEach(input => {
    input.addEventListener("focus", addcl);
    input.addEventListener("blur", remcl);
  });
</script>
</body>
</html>