<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout/header :: head"></head>

<body>
<!-- 페이지에 include 하는 형식의 사이드바 -->
<!-- 지금 hover로 되어 있는데, js써서 click 이벤으로 바꾸는게 나을 듯 -->
<header th:insert="layout/header :: header"></header>
<article class="include_sideBar">
    <div class="logo"></div>
    <nav>
        <ul>
            <li class="ul_item">
                <div>
                    <span>메뉴1</span>
                    <ol>
                        <li><a href="/manager/registerMajor">학과등록</a></li>
                        <li>test2</li>
                        <li>test3</li>
                    </ol>
                </div>
            </li>
            <li class="ul_item">
                <div>
                    <span>메뉴2</span>
                    <ol>
                        <li>test1</li>
                        <li>test2</li>
                        <li>test3</li>
                    </ol>
                </div>
            </li>
            <li class="ul_item">
                <div>
                    <span>메뉴3</span>
                    <ol>
                        <li>test1</li>
                        <li>test2</li>
                        <li>test3</li>
                    </ol>
                </div>
            </li>
            <li class="ul_item">
                <div>
                    <span>메뉴4</span>
                    <ol>
                        <li>test1</li>
                        <li>test2</li>
                        <li>test3</li>
                    </ol>
                </div>
            </li>

        </ul>
    </nav>
</article>
<!-- sideBar_wraper는 width를 70%로 잡기 위해 사용. 전체 width를 잡은 root같은 다른 태그가 있으면 대체 -->
<div class="sideBar_wraper" style="width: 70%; margin: auto; padding-left: 100px;">
    <!-- 복사해서 붙여쓰는 형태의 사이드바 -->
    <!-- <section class="sideBar">
        <ul class="side_ul">
            <li class="side_title">
                <div>수강신청</div>
            </li>
            <li>
                <div>강의 시간표 조회</div>
            </li>
            <li class="side_checked">
                <div>예비 수강 신청</div>
            </li>
            <li>
                <div>수강 신청</div>
            </li>
            <li>
                <div>수강 신청 내역 조회</div>
            </li>
        </ul>
    </section> -->
</div>
<footer th:insert="layout/header :: footer"></footer>
</body>

</html>